
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Select which parcel you want to add an activity to
      </h1>

      {% include "includes/svg-map.html" %}

      {{ govukButton({
        text: 'Continue',
        href: 'activities',
        classes: 'govuk-!-margin-top-4'
      }) }}

    </div>
</div>

{% endblock %}
