{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 2
{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">Scenario</span>
          <h1 class="govuk-heading-xl">
            3. Is this right for me?
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="/public/images/tier1-v2/step-3.jpg" alt="ELM adviser requests help from Forestry Commission woodland officer through DEFRA CRM" style="width: 100%; margin-bottom: 30px">
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">
            You investigate further to find out if the scheme is worth applying for.
          </p>
          <p class="govuk-body-l"><a href="/tier1-v2/storyboard/step-4.html" class="govuk-link">Next</a></p>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
