{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/tier1-v1/actions-answers">Back</a>
{% endblock %}

<!--calculations-->
{% set manureTotal = data['manure']['multiplier'] * data['manure']['amount'] %}
{% set bogTotal = data['bog-grazing']['multiplier'] * data['bog-grazing']['amount'] %}
{% set grasslandTotal = data['create-grassland']['multiplier'] * data['create-grassland']['amount'] %}
{% set grassTotal = data['grass-strips']['multiplier'] * data['grass-strips']['amount'] %}
{% set treeTotal = data['tree-belts']['multiplier'] * data['tree-belts']['amount'] %}
{% set canopyTotal = data['canopy-cover']['multiplier'] * data['canopy-cover']['amount'] %}
{% set fencingTotal = data['fencing']['multiplier'] * data['fencing']['amount'] %}
{% set windTotal = data['wind-erosion']['multiplier'] * data['wind-erosion']['amount'] %}
{% set deadwoodTotal = data['deadwood']['multiplier'] * data['deadwood']['amount'] %}
{% set soilTotal = data['bare-soil']['multiplier'] * data['bare-soil']['amount'] %}
{% set flowerTotal = data['flower-habitat']['multiplier'] * data['flower-habitat']['amount'] %}
{% set waterTotal = data['drinking-water']['multiplier'] * data['drinking-water']['amount'] %}
{% set nutrientsTotal = data['nutrients']['multiplier'] * data['nutrients']['amount'] %}
{% set agroforestryTotal = data['agroforestry']['multiplier'] * data['agroforestry']['amount'] %}
{% set coverTotal = data['cover-crops']['multiplier'] * data['cover-crops']['amount'] %}
{% set spreadingTotal = data['fertiliser-spreading']['multiplier'] * data['fertiliser-spreading']['amount'] %}
{% set fertilisersTotal = data['fertilisers']['multiplier'] * data['fertilisers']['amount'] %}
{% set tillTotal = data['no-till']['multiplier'] * data['no-till']['amount'] %}

{% set fullTotal = manureTotal + bogTotal + grasslandTotal + grassTotal + treeTotal + canopyTotal + fencingTotal + windTotal + deadwoodTotal + soilTotal + flowerTotal + waterTotal + nutrientsTotal + agroforestryTotal + coverTotal + spreadingTotal + fertilisersTotal + tillTotal %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your plan</h1>

    <p class="govuk-body">Based on the information you have provided{% if data['canopy-cover']['amount'] != 0 or data['deadwood']['amount'] or data['agroforestry']['amount'] != 0 or data['tree-belts']['amount'] %} and subject to a site visit{% endif %}, we calculate you would receive a total annual payment of <strong>£{{ fullTotal | commafy }}</strong>.</p>

    <h2 class="govuk-heading-m">Your actions</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">

      {% if data['manure']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['manure']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['manure']['amount'] | commafy }} {{ data['manure']['unit'] }} at<br>{{ data['manure']['rate'] }}<br><br>Total payment: £{{ manureTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/manure">Change<span class="govuk-visually-hidden"> {{ data['manure']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?manure[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['manure']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['bog-grazing']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['bog-grazing']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['bog-grazing']['amount'] | commafy }} {{ data['bog-grazing']['unit'] }} at<br>{{ data['bog-grazing']['rate'] }}<br><br>Total payment: £{{ bogTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/bog-grazing">Change<span class="govuk-visually-hidden"> {{ data['bog-grazing']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?bog-grazing[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['create-grassland']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['create-grassland']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['create-grassland']['amount'] | commafy }} {{ data['create-grassland']['unit'] }} at<br>{{ data['create-grassland']['rate'] }}<br><br>Total payment: £{{ grasslandTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/create-grassland">Change<span class="govuk-visually-hidden"> {{ data['create-grassland']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?create-grassland[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['grass-strips']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['grass-strips']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['grass-strips']['amount'] | commafy }} {{ data['grass-strips']['unit'] }} at<br>{{ data['grass-strips']['rate'] }}<br><br>Total payment: £{{ grassTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/grass-strips">Change<span class="govuk-visually-hidden"> {{ data['grass-strips']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?grass-strips[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['tree-belts']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['tree-belts']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['tree-belts']['amount'] | commafy }} {{ data['tree-belts']['unit'] }} at<br>{{ data['tree-belts']['rate'] }}<br><br>Total payment: £{{ treeTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/tree-belts">Change<span class="govuk-visually-hidden"> {{ data['tree-belts']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?tree-belts[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['canopy-cover']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['canopy-cover']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['canopy-cover']['amount'] | commafy }} {{ data['canopy-cover']['unit'] }} at<br>{{ data['canopy-cover']['rate'] }}<br><br>Total payment: £{{ canopyTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/canopy-cover">Change<span class="govuk-visually-hidden"> {{ data['canopy-cover']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?canopy-cover[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['fencing']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['fencing']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['fencing']['amount'] | commafy }} {{ data['fencing']['unit'] }} at<br>{{ data['fencing']['rate'] }}<br><br>Total payment: £{{ fencingTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/fencing">Change<span class="govuk-visually-hidden"> {{ data['fencing']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?fencing[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['wind-erosion']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['wind-erosion']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['wind-erosion']['amount'] | commafy }} {{ data['wind-erosion']['unit'] }} at<br>{{ data['wind-erosion']['rate'] }}<br><br>Total payment: £{{ windTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/wind-erosion">Change<span class="govuk-visually-hidden"> {{ data['wind-erosion']['description'] }}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?wind-erosion[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['wind-erosion']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['deadwood']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['deadwood']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['deadwood']['amount'] | commafy }} {{ data['deadwood']['unit'] }} at<br>{{ data['deadwood']['rate'] }}<br><br>Total payment: £{{ deadwoodTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/deadwood">Change<span class="govuk-visually-hidden"> {{ data['deadwood']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?deadwood[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['bare-soil']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['bare-soil']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['bare-soil']['amount'] | commafy }} {{ data['bare-soil']['unit'] }} at<br>{{ data['bare-soil']['rate'] }}<br><br>Total payment: £{{ soilTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/bare-soil">Change<span class="govuk-visually-hidden"> {{ data['bare-soil']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?bare-soil[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['flower-habitat']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['flower-habitat']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['flower-habitat']['amount'] | commafy }} {{ data['flower-habitat']['unit'] }} at<br>{{ data['flower-habitat']['rate'] }}<br><br>Total payment: £{{ flowerTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/flower-habitat">Change<span class="govuk-visually-hidden"> {{ data['flower-habitat']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?flower-habitat[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['drinking-water']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['drinking-water']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['drinking-water']['amount'] | commafy }} {{ data['drinking-water']['unit'] }} at<br>{{ data['drinking-water']['rate'] }}<br><br>Total payment: £{{ waterTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/drinking-water">Change<span class="govuk-visually-hidden"> {{ data['drinking-water']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?drinking-water[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['nutrients']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['nutrients']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['nutrients']['amount'] | commafy }} {{ data['nutrients']['unit'] }} at<br>{{ data['nutrients']['rate'] }}<br><br>Total payment: £{{ nutrientsTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/nutrients">Change<span class="govuk-visually-hidden"> {{ data['nutrients']['description'] }}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?nutrients[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['nutrients']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['agroforestry']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['agroforestry']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['agroforestry']['amount'] | commafy }} {{ data['agroforestry']['unit'] }} at<br>{{ data['agroforestry']['rate'] }}<br><br>Total payment: £{{ agroforestryTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/agroforestry">Change<span class="govuk-visually-hidden"> {{ data['agroforestry']['description'] }}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?agroforestry[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['agroforestry']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['cover-crops']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['cover-crops']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['cover-crops']['amount'] | commafy }} {{ data['cover-crops']['unit'] }} at<br>{{ data['cover-crops']['rate'] }}<br><br>Total payment: £{{ coverTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/cover-crops">Change<span class="govuk-visually-hidden"> {{ data['cover-crops']['description']}}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?cover-crops[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['#']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['fertiliser-spreading']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['fertiliser-spreading']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['fertiliser-spreading']['amount'] | commafy }} {{ data['fertiliser-spreading']['unit'] }} at<br>{{ data['fertiliser-spreading']['rate'] }}<br><br>Total payment: £{{ spreadingTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/fertiliser-spreading">Change<span class="govuk-visually-hidden"> {{ data['fertiliser-spreading']['description'] }}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?fertiliser-spreading[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['fertiliser-spreading']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['fertilisers']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['fertilisers']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['fertilisers']['amount'] | commafy }} {{ data['fertilisers']['unit'] }} at<br>{{ data['fertilisers']['rate'] }}<br><br>Total payment: £{{ fertilisersTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/fertilisers">Change<span class="govuk-visually-hidden"> {{ data['fertilisers']['description'] }}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?fertilisers[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['fertilisers']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      {% if data['no-till']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">{{ data['no-till']['description'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third">{{ data['no-till']['amount'] | commafy }} {{ data['no-till']['unit'] }} at<br>{{ data['no-till']['rate'] }}<br><br>Total payment: £{{ tillTotal | commafy }}</dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/tier1-v1/no-till">Change<span class="govuk-visually-hidden"> {{ data['no-till']['description'] }}</span></a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="?no-till[amount]=0">Remove<span class="govuk-visually-hidden"> {{ data['no-till']['description'] }}</span></a></li>
          </ul>
        </dd>
      </div>
      {% else %}{% endif %}

      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-third">Total payment</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third"><strong>£{{ fullTotal | commafy }}</strong></dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third"></dd>
      </div>

    </dl>

    {{ govukButton({
            text: "Add another action",
            href: "/tier1-v1/actions",
            classes: "govuk-button--secondary govuk-!-margin-bottom-9"
          }) }}

    <form action="/tier1-v1/agreement" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
          text: "Submit your application",
          preventDoubleClick: true
        }) }}

    </form>

  </div>
</div>
{% endblock %}
