{% extends "layout.html" %}

{% block pageTitle %}
Arable package
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="form" action="/actions-answer" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl">
              What do you want to do?
            </h1>
          </legend>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body-l">
                 Select one option
              </p>

              <h2 class="govuk-heading-m govuk-!-margin-top-7">Arable land</h2>
              <div class="govuk-radios">
                {% for option in data['options'] | sort(false, true, 'description') %}
                {% if option.landtype == "Arable land" %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id={{ option.name }} name="what-action" type="radio" value={{ option.name }} {{ checked("what-action", option.name) }}>
                  <label class="govuk-label govuk-radios__label" for={{ option.name }}>
                    {{ option.description }}
                  </label>
                </div>
                {% endif %}
                {% endfor %}
              </div>

              <h2 class="govuk-heading-m govuk-!-margin-top-7">Flood risk</h2>
              <div class="govuk-radios">
                {% for option in data['options'] | sort(false, true, 'description') %}
                {% if option.landtype == "Flood risk" %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id={{ option.name }} name="what-action" type="radio" value={{ option.name }} {{ checked("what-action", option.name) }}>
                  <label class="govuk-label govuk-radios__label" for={{ option.name }}>
                    {{ option.description }}
                  </label>
                </div>
                {% endif %}
                {% endfor %}
              </div>

              <h2 class="govuk-heading-m govuk-!-margin-top-7">Uplands</h2>
              <div class="govuk-radios">
                {% for option in data['options'] | sort(false, true, 'description') %}
                {% if option.landtype == "Uplands" %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id={{ option.name }} name="what-action" type="radio" value={{ option.name }} {{ checked("what-action", option.name) }}>
                  <label class="govuk-label govuk-radios__label" for={{ option.name }}>
                    {{ option.description }}
                  </label>
                </div>
                {% endif %}
                {% endfor %}
              </div>

              <h2 class="govuk-heading-m govuk-!-margin-top-7">Woodland</h2>
              <div class="govuk-radios">
                {% for option in data['options'] | sort(false, true, 'description') %}
                {% if option.landtype == "Woodland" %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id={{ option.name }} name="what-action" type="radio" value={{ option.name }} {{ checked("what-action", option.name) }}>
                  <label class="govuk-label govuk-radios__label" for={{ option.name }}>
                    {{ option.description }}
                  </label>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="govuk-grid-column-one-third"> 
              {% include "includes/sort-action-nav.html" %}
            </div>
          </div>
        </fieldset>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
