{% extends "layout.html" %}

{% block pageTitle %}
Your agreement
{% endblock %}

<!--calculations-->
{% set arableTotal = data['arable-standard']['multiplier'] * data['holding-size'] %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your agreement</h1>

    <div class="govuk-inset-text govuk-!-margin-bottom-4">
      <h2 class="govuk-heading-m">Land and business check completed successfully</h2>
      <p>Check your agreement carefully</p>
    </div>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Fence off rivers, streams, lakes and ponds from livestock</dt>
        <dd class="govuk-summary-list__value">
          <p>Fence off rivers, streams, lakes and ponds from livestock to prevent bankside erosion, reduce nutrient input and faecal contamination.</p>
          <p><a href="https://elm-prototype.herokuapp.com/prototype-guidance/draft-guidance-full/fence-water-sources-livestock-prevent-erosion-contamination" target="_blank">Read guidance for fence off rivers, streams, lakes and ponds from livestock (opens in a new window or tab)</a></p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Provide livestock drinking water</dt>
        <dd class="govuk-summary-list__value">
          <p>Provide livestock drinking water as alternative to drinking from watercourse to reduce deposition of sediment in sensitive water bodies.</p>
          <p><a href="https://elm-prototype.herokuapp.com/prototype-guidance/draft-guidance-full/provide-drinking-water-livestock-reduce-sediment-water" target="_blank">Read guidance for providing livestock drinking water (opens in a new window or tab)</a></p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Avoid applying manure on land sloping to water body</dt>
        <dd class="govuk-summary-list__value">
          <p>Avoid applying manure on land sloping to water body to reduce concentrations of faecal bacteria in surface water bodies.</p>
          <p><a href="#">Read guidance for avoiding applying manure on land sloping to water body</a></p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Manage and restore peatland habitats</dt>
        <dd class="govuk-summary-list__value">
          <p>Manage and restore peatland habitats to maintain and enhance conditional of habitats to support characteristic species and carbon storage, reduce concentrations of fine particulate matter in the atmosphere, reduce deposition of sediment in sensitive water bodies, reduce impact of, and enhance resilience to flooding, drought and wildfires.</p>
          <p><a href="#">Read guidance for managing and restoring peatland habitats</a></p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Create appropriate boundary features</dt>
        <dd class="govuk-summary-list__value">
          <p>Create appropriate boundary features such as hedges and dry stone walls to conserve and enhance landscape character, reduce deposition of sediment in sensitive water bodies, reduce impact of, and enhance resilience to flooding, drought and wildfires</p>
          <p><a href="#">Read guidance for creating appropriate boundary features</a></p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Manage scrub</dt>
        <dd class="govuk-summary-list__value">
          <p>Manage scrub to maintain, restore and enhance grassland condition and associated species populations, recognising the inherent value of scrub in providing shelter/structure/food and nesting resource</p>
          <p><a href="#">Read guidance for managing scrub</a></p>
        </dd>
      </div>
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total payment</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ arableTotal | commafy }}</strong></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Consent to your agreement</h2>

    <p>By consenting you agree that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the information you've provided is correct</li>
      <li>if asked, you will provide evidence to support your chosen actions</li>
      <li>you have read and agreed to <a href="#">ELM terms and conditions</a></li>
      {% if data['canopy-cover']['amount'] != 0 or data['deadwood']['amount'] or data['agroforestry']['amount'] != 0 or data['tree-belts']['amount'] %}
      <li>you will arrange a site visit</li>
      {% endif %}
    </ul>

    <form action="agreement-confirmation" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <div class="govuk-form-group govuk-!-margin-bottom-9">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="agreement-consent" name="agreement-consent" type="checkbox" value="consent-given">
            <label class="govuk-label govuk-checkboxes__label" for="agreement-consent">
              {% if data['canopy-cover']['amount'] != 0 or data['deadwood']['amount'] or data['agroforestry']['amount'] != 0 or data['tree-belts']['amount'] %}
              I consent <span class="govuk-visually-hidden"> that the information I've provided is correct, that if asked, I will provide evidence to support my chosen actions and that I will arrange a site visit.</span>
              {% else %}
              I consent <span class="govuk-visually-hidden"> that the information I've provided is correct and that if asked I will provide evidence to support my chosen actions.</span>
              {% endif %}
            </label>
          </div>
        </div>
      </div>

      {{ govukButton({
          text: "Submit your agreement",
          preventDoubleClick: true
        }) }}

    </form>

  </div>
</div>
{% endblock %}
