{% extends "layout.html" %}

{% block pageTitle %}
Standard plan
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}
{% set arableTotal = data['arable-standard']['multiplier'] * data['holding-size'] %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="loading-agreement" method="post">
      <div class="govuk-form-group  govuk-!-margin-bottom-4">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
             Your plan
            </h1>
          </legend>

          <h2 class="govuk-heading-l">Payment calculation</h2>
          <p class="govuk-body-m">Based on your {{ data['holding-size'] | commafy }} hectare holding, we've calculated a total annual payment of <strong>£{{ arableTotal | commafy }}</strong>.</p>
        </fieldset>
        <hr class="govuk-!-margin-bottom-8">
      </div>
      
      <div class="govuk-form-group  govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">What you'll need to do</h2>
        <ul class="govuk-list">
          <li>
            <h3 class="govuk-heading-m">Use lower emission fertilisers</h3>
            <p class="govuk-body-m">Replace inorganic urea-based fertilisers with lower emissions alternatives to reduce concentrations of ammonia in the atmosphere, and to reduce agricultural GHG emissions.</p>
            <p><a href="https://elm-prototype.herokuapp.com/prototype-guidance/draft-guidance-full/use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses" target="_blank">Read guidance for lower emission fertilisers</a></p>
          </li>
          <li>
            <h3 class="govuk-heading-m">Use cover crops</h3>
            <p class="govuk-body-m">Use cover crops throughout the rotation to maintain carbon storage and reduce deposition of sediment in sensitive water bodies.</p>
            <p><a href="https://elm-prototype.herokuapp.com/prototype-guidance/draft-guidance-full/create-maintain-hill-slope-tree-shelter-belts" target="_blank">Read guidance for cover crops</a>
            </p>
          </li>
          <li>
            <h3 class="govuk-heading-m">Increase organic matter content of soils</h3>
            <p>Increase organic matter content of soils to reduce wind erosion of soil for reduced concentrations of fine particulate matter, and to reduce deposition of sediment in sensitive water bodies.</p>
            <p><a href="https://elm-prototype.herokuapp.com/prototype-guidance/draft-guidance-full/increase-organic-matter-soils-reduce-wind-erosion" target="_blank">Read guidance for increasing organic matter in soils</a>
            </p>
          </li>
          <li>
            <h3 class="govuk-heading-m">Convert arable and intensive grassland to species rich grassland</h3>
            <p>Convert arable and intensive grassland to species rich grassland, and/or unfertilised and ungrazed grass to reduce concentrations of ammonia in the atmosphere, and to maintain/enhance habitats to support characteristic species.</p>
            <p><a href="https://elm-prototype.herokuapp.com/prototype-guidance/draft-guidance-full/create-or-restore-species-rich-grassland" target="_blank">Read guidance for converting arable and intensive grassland to species rich grassland</a>
          </li>
          <li>
            <h3 class="govuk-heading-m">Create flower-rich margins and plots</h3>
            <p>Create flower-rich areas on your land. Flower-rich plots provide food, shelter and nesting places for farmland birds and insects</p>
            <p><a href="https://elm-prototype.herokuapp.com/prototype-guidance/draft-guidance-full/create-flower-rich-margins-and-plots" target="_blank">Provide flower-rich habitat for wild pollinators</a>
          </li>
          <!--<li>
            <h3 class="govuk-heading-m">Create food source for farmland birds</h3>
            <p>Provides an important food source for farmland birds throughout the year and insects in the summer, and provides both grain and seeding arable plants in winter.</p>
          </li>
          <li>
            <h3 class="govuk-heading-m">Provide a beetle bank</h3>
            <p>Provide a beetle bank, a raised, uncut, grassy strip which provides overwintering habitat for large numbers of predatory insects and spiders.</p>
          </li>
          <li>
            <h3 class="govuk-heading-m">Create grassy strips</h3>
            <p>Create and manage grassy strips on your arable land, maintained as permanent vegetation.</p>
          </li>-->
        </ul>
      </div>
      <h2 class="govuk-heading-l govuk-!-margin-bottom-8">Land designations and registered heritage</h2>     
        {% if data['SSSI-present'] == "SSSI" %}
        <div class="govuk-inset-text"> 
          <p>{{ data['SSSI-advisory'] }}</p>
        </div>
        {% endif %}

        {% if data['scheduled-monument-present'] == "Scheduled monument" %}
        <div class="govuk-inset-text">
          <p>{{ data['scheduled-monument-advisory'] }}</p>
        </div>
        {% endif %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You can receive an unlimited fine for causing damage to designated land and possible fine and imprisonment for causing damage to registered heritage.
          </strong>
        </div>
        <hr class="govuk-!-margin-bottom-8">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-l">Create your agreement</h2>

          <p class="govuk-body">Before we can create your agreement we have to run some checks. This may take up to 30 seconds.</p>
          <p class="govuk-body">No further changes to your application will be possible.</p>
        </div>
        <form action="/tier1-v3/loading" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        {{ govukButton({
          text: "Create your agreement",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
