{% extends "layout.html" %}

{% block beforeContent %}
  <br>
  <p><a href="">Home</a>
  </p>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Identify and maintain wildlife habitats on your land</h1>
      <p class="govuk-body-l"></p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">Use this guidance to help you identify and understand the habitats on your land. Learn about how to restore or maintain these habitats. Find out what wildlife could be living on your land, and how you can help it to thrive.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <div class="app-c-published-dates " lang="en">
          <p>Published 26 February 2019
          <br>
          From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a></p>
        </div>

        <p><a href="manage-species-rich-grassland">Find out how to manage species-rich grassland</a></p>

        <!-- <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-much">How much will be paid</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#advice">Advice and suggestions for how to carry out this option</a>
                <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#location">Pick the right location</a></li>
                </ol>
              </li>
            </ol>

          </nav>
        </aside> -->

        
      </div>
    </div>
  </div>
{% endblock %}
