{% extends "layout.html" %}

{% block beforeContent %}
  <br>
  <p>
    Home > <a href="topic1-habitat-conservation">Habitat conservation</a> > <a href="topic3-grassland-management">Grassland management</a> > Uplands grassland management
  </p>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Grassland management</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Uplands grassland management</h1>
      <p class="govuk-body-l"></p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <h2 class="govuk-heading-m"><a href="manage-purple-moor-grass-rush-pasture">Manage purple moor grass and rush pasture</a></h2>

        <h2 class="govuk-heading-m"><a href="manage-upland-hay-meadows">Manage upland hay meadows</a></h2>

        <h2 class="govuk-heading-m"><a href="manage-chalk-limestone-grassland-uplands">Manage chalk and limestone grassland in the uplands</a></h2>

        <h2 class="govuk-heading-m"><a href="topic5-uplands-grassland-activities">Uplands grassland activities</a></h2>
                
      </div>
    </div>
  </div>
{% endblock %}
