{% extends "layout.html" %}

{% block beforeContent %}
  <br>
  <p>
    Home > <a href="topic1-wildlife-habitat-management">Wildlife habitat management</a> > Grassland management
  </p>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Wildlife habitat management</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Grassland management</h1>
      <p class="govuk-body-l"></p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <h2 class="govuk-heading-m"><a href="identify-species-rich-grassland">Identify species-rich grassland</a></h2>

        <h2 class="govuk-heading-m"><a href="topic4-uplands-grassland-management">Uplands grassland management</a></h2>
                
      </div>
    </div>
  </div>
{% endblock %}
