{% extends "layout.html" %}

{% block pageTitle %}
{{ data['fertiliser-spreading']['description'] }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/tier1-v1-guidance/actions-answers" method="post">

      <span class="govuk-caption-xl">Action</span>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--xl">
          How much land would you like to use inorganic fertiliser on?
        </label>
        {% if data['fertiliser-spreading']['amount'] == 0 %}
        <input class="govuk-input govuk-!-width-one-quarter" id="fertiliser-spreading[amount]" name="fertiliser-spreading[amount]" type="text" aria-describedby="fertiliser-spreading-amount-hint" pattern="[0-9]*" inputmode="numeric"
          spellcheck="false"><span class="govuk-body govuk-!-margin-left-1">{{ data['fertiliser-spreading']['unit'] }}</span>
        {% else %}
        <input class="govuk-input govuk-!-width-one-quarter" id="fertiliser-spreading[amount]" name="fertiliser-spreading[amount]" type="text" aria-describedby="fertiliser-spreading-amount-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false"
          value="{{ data['fertiliser-spreading']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">{{ data['fertiliser-spreading']['unit'] }}</span>
        {% endif %}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
