{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        Get help with ELM activities
      </h1>
      <p>Use this service to find guidance and advice on completing agri-environmental activities on you land.</p>
      <p>The guidance will help you deliver public goods that meet the standards required to meet you ELM agreement.</p>
    </div>

    <div class="govuk-grid-column-full">

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

      <div class="flash-card">

        <h2 class="govuk-heading-l">
          What are you looking for?
        </h2>

        <p class="govuk-body-l govuk-!-padding-bottom-4">I&rsquo;m looking for guidance on <a href="outcomes">{{ data['outcome'] }}</a>, in <a href="">all areas</a> for <a href="">all farm types</a></p>

        {# Remove the class 'govuk-button--start' for a standard button #}
        {{ govukButton({
            text: 'Search',
            href: 'results'
        }) }}

      </div>

      <p>You can also <a href="#">view all of the guidance on ELM activites</a>.</p>
    </div>




    <!-- <div class="govuk-grid-column-one-third">

      <div class="app-related-items aside-links">
        <h2 class="govuk-heading-s">
          Manage account
        </h2>

        <ul class="govuk-list govuk-body-s">
          <li><a href="#0" class="govuk-link">Land boundaries and parcels</a></li>
          <li><a href="#0" class="govuk-link">Account users</a></li>
          <li><a href="#0" class="govuk-link">Advisers</a></li>
        </ul>
      </div>

  </div> -->


  </div>
{% endblock %}
