{% extends "layout.html" %}

{% block pageTitle %}
{{ data['agroforestry']['type'] }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/tier1-v3/actions">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/agroforestry-validation" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--xl">
          How much land would you like to use agroforestry on?
        </label>

        {% if data['agroforestry']['amount'] == "" %}
        <span id="event-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a value
        </span>
        <input class="govuk-input govuk-input--error govuk-!-width-one-quarter" id="agroforestry[amount]" name="agroforestry[amount]" type="text" aria-describedby="agroforestry-amount-hint agroforestry-amount-error" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false"><span class="govuk-body govuk-!-margin-left-1">{{ data['agroforestry']['unit'] }}</span>

        {% elif data['agroforestry']['amount'] == 0 %}
        <span id="event-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Value must be 1 or more
        </span>
        <input class="govuk-input govuk-input--error govuk-!-width-one-quarter" id="agroforestry[amount]" name="agroforestry[amount]" type="text" aria-describedby="agroforestry-amount-hint agroforestry-amount-error" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['agroforestry']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">{{ data['agroforestry']['unit'] }}</span>
        {% endif %}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
