{% extends "layout.html" %}

{% block pageTitle %}
Customise options
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Customise options</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-7">Use controlled grazing on bogs and peatlands to maintain and enhance storage of carbon</span>

    <form class="form" action="/tier1-v2/actions-answers?bog-grazing[selected]=true" method="post">

      <div class="govuk-form-group">

        {% for action in data['customise-bog-grazing'] %}

        {% if action == "Cattle grazing supplement" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want a cattle grazing supplement on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="cattle-grazing-amount" name="bog-grazing[actions][Cattle grazing supplement][amount]" type="text" aria-describedby="cattle-grazing-amount-hint" pattern="[0-9]*" inputmode="numeric"
          spellcheck="false" value="{{ data['bog-grazing']['actions']['Cattle grazing supplement']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Creation of Fen" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to create fen on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="create-fen-amount" name="bog-grazing[actions][Creation of Fen][amount]" type="text" aria-describedby="create-fen-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Creation of Fen']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Creation of Reedbed" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to create reedbed on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="create-reedbed-amount" name="bog-grazing[actions][Creation of Reedbed][amount]" type="text" aria-describedby="create-reedbed-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Creation of Reedbed']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Management of Bog" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to manage bog on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="manage-bog-amount" name="bog-grazing[actions][Management of Bog][amount]" type="text" aria-describedby="manage-bog-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Management of Bog']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Management of Fen" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to manage fen on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="manage-fen-amount" name="bog-grazing[actions][Management of Fen][amount]" type="text" aria-describedby="manage-fen-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Management of Fen']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Management of lowland heathland" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to manage lowland heathland on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="manage-lowland-heathland-amount" name="bog-grazing[actions][Management of lowland heathland][amount]" type="text" aria-describedby="manage-lowland-heathland-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Management of lowland heathland']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Management of Reedbed" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to manage reedbed on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="manage-reedbed-amount" name="bog-grazing[actions][Management of Reedbed][amount]" type="text" aria-describedby="manage-reedbed-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Management of Reedbed']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Management of rough grazing for birds" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to manage rough grazing for birds on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="manage-rough-grazing-amount" name="bog-grazing[actions][Management of rough grazing for birds][amount]" type="text" aria-describedby="manage-rough-grazing-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Management of rough grazing for birds']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Moorland management" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to manage moorland on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="manage-moorland-amount" name="bog-grazing[actions][Moorland management][amount]" type="text" aria-describedby="manage-moorland-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Moorland management']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Moorland management - Vegetation supplement" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to manage moorland with a vegetation supplement on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="manage-moorland-veg-amount" name="bog-grazing[actions][Moorland management - Vegetation supplement][amount]" type="text" aria-describedby="manage-moorland-veg-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Moorland management - Vegetation supplement']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Raised water level supplement" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to raise the water level on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="raise-water-level-amount" name="bog-grazing[actions][Raised water level supplement][amount]" type="text" aria-describedby="raise-water-level-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Raised water level supplement']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Shepherding supplement" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want a shepherding supplement on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="shepherding-amount" name="bog-grazing[actions][Shepherding supplement][amount]" type="text" aria-describedby="shepherding-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Shepherding supplement']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Upland livestock exclusion supplement" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to exclude livestock on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="exclude-livestock-amount" name="bog-grazing[actions][Upland livestock exclusion supplement][amount]" type="text" aria-describedby="exclude-livestock-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Upland livestock exclusion supplement']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Wetland Grazing supplement" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want a wetland grazing supplement on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="wetland-grazing-amount" name="bog-grazing[actions][Wetland Grazing supplement][amount]" type="text" aria-describedby="wetland-grazing-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['bog-grazing']['actions']['Wetland Grazing supplement']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% endfor %}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
