{% extends "layout.html" %}

{% block pageTitle %}
{{ data['canopy-cover']['type'] }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/tier1-v2/canopy-cover-validation" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--xl">
          How much land would you like to improve canopy cover on?
        </label>

        {% if data['canopy-cover']['amount'] == "" %}
        <span id="event-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a value
        </span>
        <input class="govuk-input govuk-input--error govuk-!-width-one-quarter" id="canopy-cover[amount]" name="canopy-cover[amount]" type="text" aria-describedby="canopy-cover-amount-hint canopy-cover-amount-error" pattern="[0-9]*" inputmode="numeric" spellcheck="false"><span
          class="govuk-body govuk-!-margin-left-1">{{ data['canopy-cover']['unit'] }}</span>

        {% elif data['canopy-cover']['amount'] == 0 %}
        <span id="event-name-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Value must be 1 or more
        </span>
        <input class="govuk-input govuk-input--error govuk-!-width-one-quarter" id="canopy-cover[amount]" name="canopy-cover[amount]" type="text" aria-describedby="canopy-cover-amount-hint canopy-cover-amount-error" pattern="[0-9]*" inputmode="numeric" spellcheck="false"
          value="{{ data['canopy-cover']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">{{ data['canopy-cover']['unit'] }}</span>
        {% endif %}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
