{% extends "layout.html" %}

{% block pageTitle %}
Customise package
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/tier1-v2/options/create-grassland-attributes" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="package-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-7">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
              Customise package
            </h1>
            <span class="govuk-caption-l">Convert arable and intensive grassland to species rich grassland, and/or unfertilised and ungrazed grass to reduce concentrations of ammonia in the atmosphere, and to maintain/enhance habitats to support
              characteristic species</span>
          </legend>
          <span id="package-hint" class="govuk-hint">
            Select which options you want to do.
          </span>

          <div class="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="customise-create-grassland" name="customise-create-grassland" type="checkbox" value="Arable reversion to grassland with low fertiliser input"
                {{ checked("customise-create-grassland", "Arable reversion to grassland with low fertiliser input") }}>
              <label class="govuk-label govuk-checkboxes__label" for="arable reversion to grassland with low fertiliser input">
                Arable reversion to grassland with low fertiliser input
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="customise-create-grassland" name="customise-create-grassland" type="checkbox" value="Creation of species-rich grassland"
                {{ checked("customise-create-grassland", "Creation of species-rich grassland") }}>
              <label class="govuk-label govuk-checkboxes__label" for="customise-create-grassland">
                Creation of species-rich grassland
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
