{% extends "layout.html" %}

{% block pageTitle %}
{{ data['drinking-water']['type'] }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"></h1>

    <form class="form" action="/tier1-v2/actions-answers?drinking-water[selected]=true" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="package-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Customise package
              <span class="govuk-heading-m govuk-!-padding-top-4">Provide livestock drinking water as alternative to drinking from watercourse to reduce deposition of sediment in sensitive water bodies</span>
            </h1>
          </legend>
          <span id="package-hint" class="govuk-hint">
            Select which options you want to do.
          </span>
          <div class="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="customise-drinking-water" name="customise-drinking-water" type="checkbox" value="Livestock troughs" {{ checked("customise-drinking-water", "Livestock troughs") }} >
              <label class="govuk-label govuk-checkboxes__label" for="customise-drinking-water">
                Livestock troughs
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="customise-drinking-water" name="customise-drinking-water" type="checkbox" value="Pasture pumps and associated pipework" {{ checked("customise-drinking-water", "Pasture pumps and associated pipework") }} >
              <label class="govuk-label govuk-checkboxes__label" for="customise-drinking-water">
                Pasture pumps and associated pipework
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="customise-drinking-water" name="customise-drinking-water" type="checkbox" value="Pipework associated with livestock troughs" {{ checked("customise-drinking-water", "Pipework associated with livestock troughs") }} >
              <label class="govuk-label govuk-checkboxes__label" for="customise-drinking-water">
                Pipework associated with livestock troughs
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="customise-drinking-water" name="customise-drinking-water" type="checkbox" value="Ram pumps and associated pipework" {{ checked("customise-drinking-water", "Ram pumps and associated pipework") }} >
              <label class="govuk-label govuk-checkboxes__label" for="customise-drinking-water">
                Ram pumps and associated pipework
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
