{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dashboard">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="add-another" method="post">

        {{ govukInput({
            id: 'adviser-lm-ref',
            name: 'adviser-lm-ref',
            classes: 'govuk-input--width-20',
            label: {
                html: 'What is the reference code for the collaborating land manager?',
                classes: "govuk-label--l",
                isPageHeading: true
            },
            hint: {
              text: "For example, LM12345"
            }
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
