{% extends "layout.html" %}

{% block pageTitle %}
What action do you want to do?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/tier1">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/actions-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What do you want to do?
            </h1>
          </legend>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="manure" name="what-action" type="radio" value="manure">
              <label class="govuk-label govuk-radios__label" for="manure">
                Avoid applying manure on land sloping to water body
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="create-grassland" name="what-action" type="radio" value="create-grassland">
              <label class="govuk-label govuk-radios__label" for="create-grassland">
                Convert arable and intensive grassland to species rich grassland
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="bog-grazing" name="what-action" type="radio" value="bog-grazing">
              <label class="govuk-label govuk-radios__label" for="bog-grazing">
                Control grazing on bogs and peatlands
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="grass-strips" name="what-action" type="radio" value="grass-strips">
              <label class="govuk-label govuk-radios__label" for="grass-strips">
                Create, maintain and/or enhance contour grass strips
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tree-belts" name="what-action" type="radio" value="tree-belts">
              <label class="govuk-label govuk-radios__label" for="tree-belts">
                Create, maintain and/or enhance hillside tree belts
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="canopy-cover" name="what-action" type="radio" value="canopy-cover">
              <label class="govuk-label govuk-radios__label" for="canopy-cover">
                Encourage diversification of the stand and continuity of canopy cover
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fencing" name="what-action" type="radio" value="fencing">
              <label class="govuk-label govuk-radios__label" for="fencing">
                Fence off rivers, streams, lakes and ponds from livestock
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deadwood" name="what-action" type="radio" value="deadwood">
              <label class="govuk-label govuk-radios__label" for="deadwood">
                Manage deadwood
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="bare-soil" name="what-action" type="radio" value="bare-soil">
              <label class="govuk-label govuk-radios__label" for="bare-soil">
                Minimise bare soil
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="flower-habitat" name="what-action" type="radio" value="flower-habitat">
              <label class="govuk-label govuk-radios__label" for="flower-habitat">
                Provide flower-rich habitat
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="drinking-water" name="what-action" type="radio" value="drinking-water">
              <label class="govuk-label govuk-radios__label" for="drinking-water">
                Provide livestock drinking water
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cover-crops" name="what-action" type="radio" value="cover-crops">
              <label class="govuk-label govuk-radios__label" for="cover-crops">
                Use cover crops
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
