{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

<!--calulations-->
{% set manureTotal = data['manure']['multiplier'] * data['manure']['amount'] %}
{% set bogTotal = data['bog-grazing']['multiplier'] * data['bog-grazing']['amount'] %}
{% set grasslandTotal = data['create-grassland']['multiplier'] * data['create-grassland']['amount'] %}
{% set grassTotal = data['grass-strips']['multiplier'] * data['grass-strips']['amount'] %}
{% set treeTotal = data['tree-belts']['multiplier'] * data['tree-belts']['amount'] %}
{% set canopyTotal = data['canopy-cover']['multiplier'] * data['canopy-cover']['amount'] %}
{% set fencingTotal = data['fencing']['multiplier'] * data['fencing']['amount'] %}
{% set windTotal = data['wind-erosion']['multiplier'] * data['wind-erosion']['amount'] %}
{% set deadwoodTotal = data['deadwood']['multiplier'] * data['deadwood']['amount'] %}
{% set soilTotal = data['bare-soil']['multiplier'] * data['bare-soil']['amount'] %}
{% set flowerTotal = data['flower-habitat']['multiplier'] * data['flower-habitat']['amount'] %}
{% set waterTotal = data['drinking-water']['multiplier'] * data['drinking-water']['amount'] %}
{% set nutrientsTotal = data['nutrients']['multiplier'] * data['nutrients']['amount'] %}
{% set agroforestryTotal = data['agroforestry']['multiplier'] * data['agroforestry']['amount'] %}
{% set coverTotal = data['cover-crops']['multiplier'] * data['cover-crops']['amount'] %}
{% set spreadingTotal = data['fertiliser-spreading']['multiplier'] * data['fertiliser-spreading']['amount'] %}
{% set fertilisersTotal = data['fertilisers']['multiplier'] * data['fertilisers']['amount'] %}
{% set tillTotal = data['no-till']['multiplier'] * data['no-till']['amount'] %}

{% set fullTotal = manureTotal + bogTotal + grasslandTotal + grassTotal + treeTotal + canopyTotal + fencingTotal + windTotal + deadwoodTotal + soilTotal + flowerTotal + waterTotal + nutrientsTotal + coverTotal + spreadingTotal + fertilisersTotal + tillTotal %}
{% set monthlyTotal = fullTotal / 12 %}

<!--reference number-->
<!--{% set refNumberName = data['name-on-the-account']|replace(' ', '') %}-->
{% set refNumber = "ELMAgree" + refNumberName|truncate(5, true, "") + 'P00' + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Agreement confirmed</h1>
        <div class="govuk-panel__body">
          Your reference number is<br><strong>{{ refNumber }}</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>Your first monthly payment of <strong>£{{ monthlyTotal|round(2) }}</strong> should enter your account before the <span id="date"></span>.</p>
      <p>We’ll let you know if we need any more information.</p>
      <p>If you need to speak to us about your agreement, contact the Rural Payments Agency on 03459 335577 or send an email to <a href="mailto: helpline@defra.gov.uk">helpline@defra.gov.uk</a> quoting your reference <strong>{{ refNumber }}</strong>.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>

      <script>
      var future = new Date();
      future.setTime(future.getTime() + 30 * 24 * 60 * 60 * 1000);
      document.getElementById("date").innerHTML = future.getUTCDate().toString() + " " +
                future.toLocaleString('default', { month: 'long' }).toString() +
                " " + future.getUTCFullYear();
      </script>

    </div>
  </div>

{% endblock %}
