{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/tier1/actions-answers">Back</a>
{% endblock %}

<!--calulations-->
{% set manureTotal = data['manure']['multiplier'] * data['manure']['amount'] %}
{% set bogTotal = data['bog-grazing']['multiplier'] * data['bog-grazing']['amount'] %}
{% set grasslandTotal = data['create-grassland']['multiplier'] * data['create-grassland']['amount'] %}
{% set grassTotal = data['grass-strips']['multiplier'] * data['grass-strips']['amount'] %}
{% set treeTotal = data['tree-belts']['multiplier'] * data['tree-belts']['amount'] %}
{% set canopyTotal = data['canopy-cover']['multiplier'] * data['canopy-cover']['amount'] %}
{% set fencingTotal = data['fencing']['multiplier'] * data['fencing']['amount'] %}
{% set windTotal = data['wind-erosion']['multiplier'] * data['wind-erosion']['amount'] %}
{% set deadwoodTotal = data['deadwood']['multiplier'] * data['deadwood']['amount'] %}
{% set soilTotal = data['bare-soil']['multiplier'] * data['bare-soil']['amount'] %}
{% set flowerTotal = data['flower-habitat']['multiplier'] * data['flower-habitat']['amount'] %}
{% set waterTotal = data['drinking-water']['multiplier'] * data['drinking-water']['amount'] %}
{% set nutrientsTotal = data['nutrients']['multiplier'] * data['nutrients']['amount'] %}
{% set agroforestryTotal = data['agroforestry']['multiplier'] * data['agroforestry']['amount'] %}
{% set coverTotal = data['cover-crops']['multiplier'] * data['cover-crops']['amount'] %}
{% set spreadingTotal = data['fertiliser-spreading']['multiplier'] * data['fertiliser-spreading']['amount'] %}
{% set fertilisersTotal = data['fertilisers']['multiplier'] * data['fertilisers']['amount'] %}
{% set tillTotal = data['no-till']['multiplier'] * data['no-till']['amount'] %}

{% set fullTotal = manureTotal + bogTotal + grasslandTotal + grassTotal + treeTotal + canopyTotal + fencingTotal + windTotal + deadwoodTotal + soilTotal + flowerTotal + waterTotal + nutrientsTotal + coverTotal + spreadingTotal + fertilisersTotal + tillTotal %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your agreement</h1>

    <h2 class="govuk-heading-l">Your plan</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">

      {% if data['manure']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['manure']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['manure']['amount'] }} {{ data['manure']['unit'] }} at {{ data['manure']['rate'] }}<br><br>Total payment: £{{ manureTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['bog-grazing']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['bog-grazing']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['bog-grazing']['amount'] }} {{ data['bog-grazing']['unit'] }} at {{ data['bog-grazing']['rate'] }}<br><br>Total payment: £{{ bogTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['create-grassland']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['create-grassland']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['create-grassland']['amount'] }} {{ data['create-grassland']['unit'] }} at {{ data['create-grassland']['rate'] }}<br><br>Total payment: £{{ grasslandTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['grass-strips']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['grass-strips']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['grass-strips']['amount'] }} {{ data['grass-strips']['unit'] }} at {{ data['grass-strips']['rate'] }}<br><br>Total payment: £{{ grassTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['tree-belts']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['tree-belts']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['tree-belts']['amount'] }} {{ data['tree-belts']['unit'] }} at {{ data['tree-belts']['rate'] }}<br><br>Total payment: £{{ treeTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['canopy-cover']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['canopy-cover']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['canopy-cover']['amount'] }} {{ data['canopy-cover']['unit'] }} at {{ data['canopy-cover']['rate'] }}<br><br>Total payment: £{{ canopyTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['fencing']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['fencing']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['fencing']['amount'] }} {{ data['fencing']['unit'] }} at {{ data['fencing']['rate'] }}<br><br>Total payment: £{{ fencingTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['wind-erosion']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['wind-erosion']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['wind-erosion']['amount'] }} {{ data['wind-erosion']['unit'] }} at {{ data['wind-erosion']['rate'] }}<br><br>Total payment: £{{ windTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['deadwood']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['deadwood']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['deadwood']['amount'] }} {{ data['deadwood']['unit'] }} at {{ data['deadwood']['rate'] }}<br><br>Total payment: £{{ deadwoodTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['bare-soil']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['bare-soil']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['bare-soil']['amount'] }} {{ data['bare-soil']['unit'] }} at {{ data['bare-soil']['rate'] }}<br><br>Total payment: £{{ soilTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['flower-habitat']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['flower-habitat']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['flower-habitat']['amount'] }} {{ data['flower-habitat']['unit'] }} at {{ data['flower-habitat']['rate'] }}<br><br>Total payment: £{{ flowerTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['drinking-water']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['drinking-water']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['drinking-water']['amount'] }} {{ data['drinking-water']['unit'] }} at {{ data['drinking-water']['rate'] }}<br><br>Total payment: £{{ waterTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['nutrients']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['nutrients']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['nutrients']['amount'] }} {{ data['nutrients']['unit'] }} at {{ data['nutrients']['rate'] }}<br><br>Total payment: £{{ nutrientsTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['agroforestry']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['agroforestry']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['agroforestry']['amount'] }} {{ data['agroforestry']['unit'] }} at {{ data['agroforestry']['rate'] }}<br><br>Total payment: £{{ agroforestryTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['cover-crops']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['cover-crops']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['cover-crops']['amount'] }} {{ data['cover-crops']['unit'] }} at {{ data['cover-crops']['rate'] }}<br><br>Total payment: £{{ coverTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['fertiliser-spreading']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['fertiliser-spreading']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['fertiliser-spreading']['amount'] }} {{ data['fertiliser-spreading']['unit'] }} at {{ data['fertiliser-spreading']['rate'] }}<br><br>Total payment: £{{ spreadingTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['fertilisers']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['fertilisers']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['fertilisers']['amount'] }} {{ data['fertilisers']['unit'] }} at {{ data['fertilisers']['rate'] }}<br><br>Total payment: £{{ fertilisersTotal }}</dd>
      </div>
      {% else %}{% endif %}

      {% if data['no-till']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">{{ data['no-till']['type'] }}</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">{{ data['no-till']['amount'] }} {{ data['no-till']['unit'] }} at {{ data['no-till']['rate'] }}<br><br>Total payment: £{{ tillTotal }}</dd>
      </div>
      {% else %}{% endif %}

      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-one-half">Total payment</dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half"><strong>£{{ fullTotal }}</strong></dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-half"></dd>
      </div>

    </dl>

    <h2 class="govuk-heading-l">Confirm your agreement</h2>

    <p>The actions you've selected require you to provide evidence to support your claim.</p>
      <p>By consenting you agree that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information you've provided us with is correct</li>
        <li>you will provide evidence to support your chosen actions</li>
      </ul>

      <form action="/tier1/agreement-confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="agreement-consent" name="agreement-consent" type="checkbox" value="consent-given">
              <label class="govuk-label govuk-checkboxes__label" for="agreement-consent">
                I consent <span class="govuk-visually-hidden"> that the information I've provided us with is correct and that I will provide evidence to support my chosen actions.</span>
              </label>
            </div>
          </div>
        </div>

        {{ govukButton({
          text: "Confirm your agreement",
          preventDoubleClick: true
        }) }}

      </form>

  </div>
</div>
{% endblock %}
