{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="another-type">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your answers</h1>

        <h2 class="govuk-heading-l">Your farm</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
                 Main farming
               </dt>
               <dd class="govuk-summary-list__value">
                 {{ data['farm-type'] }}
               </dd>
                 <dd class="govuk-summary-list__actions">
                     <a class="govuk-link" href="farm-type">
                       Change<span class="govuk-visually-hidden"> farming type</span>
                       </a>
                 </dd>
             </div>

             {% if data['farm-type-2'] != undefined %}
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
                 Other farming
               </dt>
               <dd class="govuk-summary-list__value">
                 {{ data['farm-type-2'] }}
               </dd>
                 <dd class="govuk-summary-list__actions">
                     <a class="govuk-link" href="farm-type-2">
                       Change<span class="govuk-visually-hidden"> other farming type</span>
                       </a>
                 </dd>
             </div>

             {% else %}
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
                 Other farming
               </dt>
               <dd class="govuk-summary-list__value">
                 none
               </dd>
                 <dd class="govuk-summary-list__actions">
                     <a class="govuk-link" href="farm-type-2">
                       Change<span class="govuk-visually-hidden"> other farming type</span>
                       </a>
                 </dd>
             </div>
             {% endif %}

       </dl>

          <h2 class="govuk-heading-l">Your actions</h2>

          {% if data['fence-length'] != undefined %}
          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Fencing"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "remove-fencing"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Fencing length"
                },
                value: {
                  text: data['fence-length']
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "fence length"
                    }
                  ]
                }
              }
            ]
          }) }}
          {% else %}
          {% endif %}

          {% if data['crop-area'] != undefined %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Cover crops"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "remove-cover-crops"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Area of cover crops"
                },
                value: {
                  text: data['crop-area']
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "crop area"
                    }
                  ]
                }
              }
            ]
          }) }}
          {% else %}
          {% endif %}

          {{ govukButton({
            text: "Add another action",
            href: "/tier1/actions",
            classes: "govuk-button--secondary govuk-!-margin-bottom-9"
          }) }}

        <h2 class="govuk-heading-l">Submitting your application</h2>

        <p>By confirming you agree that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the information you've provided us with is correct</li>
          <li>if required, you will provide sufficient evidence to support your chosen actions</li>
        </ul>

      <form action="/tier1/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Confirm and send",
          preventDoubleClick: true
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
