{% extends "layout.html" %}

{% block pageTitle %}
Application confirmation
{% endblock %}

<!--reference number-->
<!--{% set refNumberName = data['name-on-the-account']|replace(' ', '') %}-->
{% set refNumber = "ELMApp" + refNumberName|truncate(5, true, "") + 'P00' + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Your application has been successful</h1>
      <div class="govuk-panel__body">
        Your application number is<br><strong>{{ refNumber }}</strong>
      </div>
    </div>

    <p>
      We have sent you a confirmation email.
    </p>

    <h2 class="govuk-heading-m">Your agreement</h2>

    <p>Your agreement is now available to view and validate. We will arrange for you to receive your first monthly payment once you have viewed and validated your agreement.</p>

    {{ govukButton({
        href: "/tier1/agreement",
        text: "View your agreement"
      }) }}

  </div>
</div>

{% endblock %}
