canopy-covercanopy-cover{% extends "layout.html" %}

{% block pageTitle %}
How much will you be paid?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/tier1/actions-answers">Back</a>
{% endblock %}

<!--calulations-->
{% set manureTotal = data['manure']['multiplier'] * data['manure']['amount'] %}
{% set bogTotal = data['bog-grazing']['multiplier'] * data['bog-grazing']['amount'] %}
{% set grassTotal = data['grass-strips']['multiplier'] * data['grass-strips']['amount'] %}
{% set canopyTotal = data['canopy-cover']['multiplier'] * data['canopy-cover']['amount'] %}
{% set fencingTotal = data['fencing']['multiplier'] * data['fencing']['amount'] %}
{% set deadwoodTotal = data['deadwood']['multiplier'] * data['deadwood']['amount'] %}
{% set soilTotal = data['bare-soil']['multiplier'] * data['bare-soil']['amount'] %}
{% set waterTotal = data['drinking-water']['multiplier'] * data['drinking-water']['amount'] %}

{% set fullTotal = manureTotal + bogTotal + grassTotal + canopyTotal + fencingTotal + deadwoodTotal + soilTotal + waterTotal %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      How much will you be paid?
    </h1>

    <p class="govuk-body">Based on the information you have provided, we calculate the total amount you will receive is <strong>£{{ fullTotal }}</strong>.

      {% if data['manure']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['manure']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['manure']['amount'] }} {{ data['manure']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/manure">Change<span class="govuk-visually-hidden"> {{ data['manure']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['manure']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ manureTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      {% if data['bog-grazing']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['bog-grazing']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['bog-grazing']['amount'] }} {{ data['bog-grazing']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/bog-grazing">Change<span class="govuk-visually-hidden"> {{ data['bog-grazing']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['bog-grazing']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ bogTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      {% if data['grass-strips']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['grass-strips']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['grass-strips']['amount'] }} {{ data['grass-strips']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/grass-strips">Change<span class="govuk-visually-hidden"> {{ data['grass-strips']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['grass-strips']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ grassTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      {% if data['canopy-cover']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['canopy-cover']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['canopy-cover']['amount'] }} {{ data['canopy-cover']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/canopy-cover">Change<span class="govuk-visually-hidden"> {{ data['canopy-cover']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['canopy-cover']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ canopyTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      {% if data['fencing']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['fencing']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['fencing']['amount'] }} {{ data['fencing']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/fencing">Change<span class="govuk-visually-hidden"> {{ data['fencing']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['fencing']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ fencingTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      {% if data['deadwood']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['deadwood']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['deadwood']['amount'] }} {{ data['deadwood']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/deadwood">Change<span class="govuk-visually-hidden"> {{ data['deadwood']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['deadwood']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ deadwoodTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      {% if data['bare-soil']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['bare-soil']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['bare-soil']['amount'] }} {{ data['bare-soil']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/bare-soil">Change<span class="govuk-visually-hidden"> {{ data['bare-soil']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['bare-soil']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ soilTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      {% if data['drinking-water']['amount'] != 0 %}
      <h2 class="govuk-heading-m">{{ data['drinking-water']['type'] }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Amount</dt>
          <dd class="govuk-summary-list__value">{{ data['drinking-water']['amount'] }} {{ data['drinking-water']['unit'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/tier1/drinking-water">Change<span class="govuk-visually-hidden"> {{ data['drinking-water']['type'] }}</span></a></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Rate</dt>
          <dd class="govuk-summary-list__value">{{ data['drinking-water']['rate'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Total</dt>
          <dd class="govuk-summary-list__value">£{{ waterTotal }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      {% endif %}

      <form action="/tier1/bank-details" method="post" novalidate>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

  </div>
</div>

{% endblock %}
