{% extends "layout.html" %}

{% block pageTitle %}
  {{ data['fencing']['type'] }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/tier1/actions">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/tier1/actions-answers" method="post">

        <span class="govuk-caption-xl">Action</span>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--xl">
            What length of fencing do you want to install?
          </label>
          <span id="fencing-amount-hint" class="govuk-hint">
            Must be a number (in meters)
          </span>
          {% if data['fencing']['amount'] == 0 %}
          <input class="govuk-input govuk-!-width-one-quarter" id="fencing[amount]" name="fencing[amount]" type="text" aria-describedby="fencing-amount-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false"><span class="govuk-body govuk-!-margin-left-1">{{ data['fencing']['unit'] }}</span>
          {% else %}
          <input class="govuk-input govuk-!-width-one-quarter" id="fencing[amount]" name="fencing[amount]" type="text" aria-describedby="fencing-amount-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['fencing']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">{{ data['fencing']['unit'] }}</span>
          {% endif %}
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
