{% extends "layout.html" %}

{% block pageTitle %}
  Apply for Environmental Land Management (ELM)
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply for Environmental Land Management (ELM)
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>select environmental actions you want to do on your land</li>
        <li>calculate the payments you will receive</li>
        <li>view and confirm your agreement</li>
      </ul>

      <p>Applying takes around 15 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "/tier1/actions",
        isStartButton: true,
        classes: "govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>The quickest way to apply for Environmental Land Management is online but you can also:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/government/organisations/rural-payments-agency">apply by phone</a></li>
        <li>download and complete the <a href="">Environmental Land Management application form</a>, and send it to the <a href="https://www.gov.uk/government/organisations/rural-payments-agency">Rural Payments Agency</a></li>
      </ul>

    </div>

    <!--<div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                View your registered details
              </a>
            </li>
            <li>
              <a href="#">
                Apply for ELM tier 2 or 3
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>-->
  </div>
{% endblock %}
