{% extends "layout.html" %}

{% block pageTitle %}
{{ data['no-till']['type'] }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/tier1/actions-answers" method="post">

      <span class="govuk-caption-xl">Action</span>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--xl">
          How much lowland peatland soil would you like to use no-till cultivation on?
        </label>
        {% if data['no-till']['amount'] == 0 %}
        <input class="govuk-input govuk-!-width-one-quarter" id="no-till[amount]" name="no-till[amount]" type="text" aria-describedby="no-till-amount-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false"><span
          class="govuk-body govuk-!-margin-left-1">{{ data['no-till']['unit'] }}</span>
        {% else %}
        <input class="govuk-input govuk-!-width-one-quarter" id="no-till[amount]" name="no-till[amount]" type="text" aria-describedby="no-till-amount-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false"
          value="{{ data['no-till']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">{{ data['no-till']['unit'] }}</span>
        {% endif %}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
