{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/tier1/actions-answers">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">

    <h1 class="govuk-heading-xl">
      Arranging a site visit
    </h1>

    <p>The actions you've selected</p>
    <ul class="govuk-list govuk-list--bullet">
      {% if data['canopy-cover']['amount'] != 0 %}
      <li>encourage diversification of the stand and continuity of canopy cover to enhance resilience to climate change</li>
      {% endif %}
      {% if data['deadwood']['amount'] != 0 %}
      <li>manage deadwood to improve habitats</li>
      {% endif %}
    </ul>
    <p>require you to arrange a site visit.</p>

    <p class="govuk-!-margin-top-7">You can find out how to do this on the <a href="https://www.gov.uk/government/organisations/forestry-commission">forestry commission website</a>.</p>

  </div>
</div>

<form action="/tier1/calculation" method="post" novalidate>

  <input type="hidden" name="answers-checked" value="true">

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</form>

{% endblock %}
