{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A23: Create beetle banks</h1>
      <p class="govuk-body-l">Use this guidance to help you create effective beetle banks. As well as benefitting the environment, beetle banks can offer multiple benefits to your farm business.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why create beetle banks?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to locate beetle banks</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#create">Creating your beetle bank</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for successful management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How a successful beetle bank should look</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#things">Things to be aware of</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="why"></a>Why create beetle banks?</h2>
        <p>A beetle bank is a raised, uncut, grassy strip which provides overwintering habitat for large numbers of predatory insects and spiders. A beetle bank may shelter over 1000 hibernating invertebrates per square metre. In the spring these invertebrates will start to disperse onto nearby land, feeding on aphids and other crop pests. Beetle banks placed within an arable setting will help reduce pest numbers. This can improve your crop health and productivity and may reduce your need for insecticides.</p>
        <p>You can also use a beetle bank to block and slow the run-off of rainwater. On sloping areas this can help reduce flooding further down the slope and prevent the loss of your soil through erosion.</p>
        <p>A beetle bank also provides shelter, nesting areas and food to farmland birds and small mammals. If your beetle bank includes some flowering plants then pollinating insects such as bumblebees and hoverflies will use it as a source of pollen and nectar.</p>
        <p>Beetle banks can improve the appearance of the landscape by helping to break up large fields.</p>

      <h2 class="govuk-heading-l"><a name="where"></a>Where to locate beetle banks</h2>
        <p>If you are using beetle banks for natural pest control then you should construct them in fields that are over 20 hectares. Many spiders and insects are slow to disperse, so creating beetle banks in the centre of larger fields will ensure they can move across the entire crop during the summer. In fields of 30 to 50 hectares you should space three or four banks across the area. </p>
         <p>Predatory invertebrates will overwinter in any tussocky areas of ground.  Placing a beetle bank in the middle of a field bordered by <a href="">hedgerows</a> or <a href="">grassy margins</a> will maximise the effects of natural pest control.</p>
        <p>Remember to leave a gap at both ends of the bank where it meets your field boundary or margin so that you can fit your machinery through.</p>
        <p>To make managing your field easier, your beetle bank should run in the same direction as your cultivations. If you are using a beetle bank to prevent water run-off and soil erosion then the bank should run across the contour of the slope to maximise its effect. Take care that the water is not channelled somewhere else.</p>

      <h2 class="govuk-heading-l"><a name="what"></a>What to sow</h2>
      <p>You will need to sow vigorous clump-forming grasses such as cock’s-foot, tall fescue, red fescue and timothy. Tall growing flowers will add to the wildlife value of the bank.  Choose species that are tough enough to compete with the thick grasses, such as hogweed, chicory or knapweed. The flowers from these plants will attract pollinators including hoverflies, whose larvae also feed on aphids.</p>
      <p>Your seed supplier will be able to advise you on a suitable seed mix.</p>
      
      <h2 class="govuk-heading-l"><a name="create"></a>Creating your beetle bank</h2>
      <h3 class="govuk-heading-m">When?</h3>
      <p>You can create beetle banks during your normal cultivations in spring or autumn.
        If sowing in autumn, bear in mind that a harsh winter may decrease or prevent seed germination. Banks created in autumn can be left until the following spring for sowing. In this case you may need to consider spraying with a broad spectrum herbicide before sowing if weeds have started to take hold.</p>
      <p>Always consult a British Agrochemical Standards Inspection Scheme (BASIS) qualified agronomist when using chemicals to control weeds. A BASIS agronomist will provide you with up to date information on approved products and application rates to suit your needs.</p>
      
      <h3 class="govuk-heading-m">How?</h3>
      <p>For best results, create your bank between three and five metres wide and raised at least 40cm above the level of the field. You can do this by repeatedly ploughing the soil in both directions towards each furrow.</p>
      <p>You should create a firm, fine seedbed using shallow cultivation but be careful not to overwork the bank as you may cause it to slump. Broadcast your seed mix on to the seedbed. Rolling after sowing will ensure the seed is in contact with the soil as well as helping to retain moisture.</p>
      <p>Creating a sterile strip between the bank and the crop will protect the grasses on your bank from herbicide drift. You can create a strip by rotovating or using carefully applied herbicide.</p>

      <h2 class="govuk-heading-l"><a name="considerations">Considerations for successful management</a></h2>
      <h3 class="govuk-heading-m">First year management</h3>
     <p>Mowing several times over the first summer will help your grasses grow more densely and will control any emerging weeds.</p>

        <h3 class="govuk-heading-m">Ongoing management</h3>
        <p>After the first year your beetle bank should need little maintenance.  Once the thick grasses have established there will be few opportunities for weeds to invade. If localised weed issues do occur then you may need to carry out hand pulling, spot spraying or cutting in the area affected. To protect nesting invertebrates you should only cut after the beginning of August.</p>
        <p>You will not need to apply any fertilisers, manures or lime to your beetle bank.</p>
        <p>After two or three years your beetle banks should be providing suitable habitat for overwintering spiders and insects, and your crops should have started to benefit from their presence.</p>
        <p>There is no need to remove your beetle banks during periods of fallow or grass leys. </p>


        <h2 class="govuk-heading-l"><a name="how">How a successful beetle bank should look</a></h2>
        <p>You will know when your management is right when:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your bank has a dense covering of tussocky grasses including dead stems from previous seasons</li>
          <li>there are no uncontrolled weeds such as docks, thistles or ragwort</li>
          <li>you see bumblebees and other pollinators foraging during the spring and summer </li>
          <li>you easily find beneficial invertebrates such as ladybirds, ground beetles and spiders</li>
          <li>there are farmland birds using your bank for foraging and nesting</li>
          <li>any surface water run-off is being intercepted and slowed by your bank</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="things"></a>Things to be aware of</h2>
        <p>You should not allow people or vehicles to use your beetle banks as access routes.  This may lead to erosion and bare ground which will reduce the effectiveness of your beetle bank. It may also increase the likelihood of weed problems.</p>
        <p>To avoid killing your beneficial invertebrates you need to be careful when applying insecticide to your crop. Combining your beetle bank with a <a href="">conservation headland</a> or <a href="">low input cereal</a> on either side will help to protect it from spray drift.</p>

        <h2 class="govuk-heading-l"><a name="legal"></a>Legal requirements</h2>
        <p>Under the Wildlife and Countryside Act 1981 all birds, their nests and eggs are protected by law and it is an offence, with certain exceptions, to intentionally kill, injure or take any wild bird; or to intentionally take, damage or destroy the nest of any wild bird whilst it is in use or being built.</p>
        <p>You should check your beetle bank for nesting birds before cutting. Where nests are present delay cutting until birds have fledged.</p>
        

          <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
          <ul class="govuk-list">
            <li><a href="">Beetle Banks (opens in a new tab or window)</a> - Game and Wildlife Conservation Trust</li>
            <li><a href="">How to create the ultimate beetle bank (opens in a new tab or window)</a> – Game and Wildlife Conservation Trust</li>
            <li><a href=""><li><a href="">Beetle banks (opens in a new tab or window)</a> – Royal Society for the Protection of birds (RSPB)</li>
          </ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}