{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A24: Create cultivated plots for arable plants</h1>
      <p class="govuk-body-l">Use this guidance to help you create and manage uncropped cultivated areas for arable plants on your land.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why provide cultivated margins or plots?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How do I find out if I have arable plants on my land?</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to cultivate</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for margin and plot boundaries</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#successful">How a successful margin or plot should look</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="why"></a>Why create cultivated margins or plots?</h2>
        <p>Arable plants have seen a marked decline in the last few decades. Some are common, yet still decreasing, such as field madder. Others are endangered, like corn buttercup, and could disappear altogether. Uncropped margins and plots are simple to establish and can easily fit into your cropping pattern. By creating uncropped cultivated areas you will be giving these plants space to thrive, as well as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>supplying nectar and pollen for early spring pollinators such as bumble bee queens</li>
          <li>providing food and shelter for insects and <a href="">farmland birds</a> such as <a href="">turtle dove</a></li>
          <li>adding colour to the landscape</li>
        </ul>
        <p>Consider also providing winter bird food and nesting plots for ground nesting birds. You will give farmland birds and insects what they need to thrive throughout the year.</p>

      <h2 class="govuk-heading-l"><a name="how"></a>How do I find out if I have arable plants on my land?</h2>
        <p>Hot spots -The outer edges of broad-leaved crops, tracks or bases of telegraph poles often escape crop treatments, allowing arable plants to survive. Checking these areas will give you some indication of their presence. Many arable plants are rare, so it is likely that there are historic records. <a href="">Local record centres</a> are also a good source of information.</p>

      <h2 class="govuk-heading-l"><a name="where"></a>Where to cultivate</h2>
      <p>If you have known populations of arable plants, then cultivating these areas will give the best chance for plants to thrive. Arable plants can be found on a range of soil types. If you know which plants you are encouraging, then you can locate your plots on the preferred soil type for that species. If you are unsure if you have arable plants on your land you will increase your chances of success if you consider:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>open, sunny locations</li>
        <li>outer most 6m of your fields, next to tracks and boundaries - these areas usually support the greatest  range of scarce and declining arable plants</li>
        <li>areas at the top of slopes as the soil is often shallow, the subsoil less fertile and productive</li>
        <li>fields that have a long history of cultivation as some arable plant seeds can survive for long periods in the soil</li>
      </ul>
      <p>You should avoid the following areas:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>cool, north facing shaded locations, as most seeds will not germinate</li>
        <li>locations with perennial and arable grass weed problems as these will outcompete arable plants</li>
      </ul>

      <h2 class="govuk-heading-l"><a name="considerations"></a>Considerations for margin and plot establishment</h2>
      <h3 class="govuk-heading-m">Plot size</h3>
      <p>You can create cultivated areas as field margins, strips or larger plots on a part or whole field basis. Big plots are best located in places where you know you have several species of arable plants across a large area.</p>
      
      <h3 class="govuk-heading-m">Rotational or non-rotational plots</h3>
      <p>Rotational plots are periodically cultivated in different locations. Non-rotational plots stay in the same place. Fixing the plot in the same place each year is effective:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>in locations where you know you have arable plants</li>
        <li>ensuring suitable habitat is always provided</li>
        <li>building up the seedbank</li>
        <li>in reducing soil nutrients</li>
      </ul>
      <p>Rotational plots are beneficial for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>discovering new populations of arable plants</li>
        <li>controlling undesirable weeds and crop diseases by periodically returning the area to conventional cropping</li>
      </ul>

      <h3 class="govuk-heading-m">When to cultivate</h3>
      <p>Most arable plants are annuals and need yearly cultivation to thrive. Some plants do better under a spring cultivation, others under an autumn one. Several species can flourish under spring and autumn cultivations. If you know what species you have, understanding when to cultivate will increase your chances of success. Please refer to <a href="">Guidance note: managing your land for arable plants</a> for information on the best cultivation time for individual species.</p>
      <p>If you don’t know what arable plants you have, then varying the cultivation between spring and autumn can encourage a wider range of species. If you know you have species that germinate in the spring and the autumn then it is best if you vary the cultivation timing between different plots each year. This should help the widest mix of species.</p>
      <p>Knowing the flowering period of your arable plants will help you to decide when the best time is to end your cultivated plots each year. Some species such as Breckland speedwell are early flowering. Species such as ground pine flower into the autumn. If you know what species you have, you can vary the cultivation times accordingly. Guidance note: managing your land for arable plants includes information on flowering periods for a range of species.</p>
      <p>If you don’t know what plants you have, you can leave the cultivated areas in place until the end of August. This will allow most species to complete their life cycle and set seed.</p>

      <h3 class="govuk-heading-m">How to cultivate</h3>
      <p>Some arable plant species need managing in a specific way to enable them to flourish. For example, <a href="">pheasant’s-eye</a> needs cultivating at a depth of between 10cm and 20 cm. This ensures the soil is sufficiently disturbed, giving seeds the best chance to germinate. If you don’t know which species you have, vary the cultivation depth between 5cm and 15 cm every 2 or 3 years. This should encourage the greatest number of species.</p>

      <h3 class="govuk-heading-m">Fertiliser</h3>
      <p>You should avoid applying fertiliser. This will help arable plants emerge without too much competition from weeds such as black-grass, couch grass, creeping thistle and nettles.  Having a buffer between your cultivated area and arable crop can help reduce fertiliser drift.</p>

      <h3 class="govuk-heading-m">Weed control</h3>
      <p>Your cultivated area may have a flush of weeds, especially in the first year. Over time, as nutrient levels decrease, so will the weeds. You can manage weeds to provide the right conditions for plants to grow and thrive.</p>

      <p>The table below sets out the methods for weed control and how best to apply them.</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption">Weed control methods</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Control method</th>
            <th scope="col" class="govuk-table__header">Why</th>
            <th scope="col" class="govuk-table__header">When to do it</th>
            <th scope="col" class="govuk-table__header">How often</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Vary cultivation timing
            </th>
            <td class="govuk-table__cell">Effective in controlling sterile brome and other coarse grasses</td>
            <td class="govuk-table__cell">Autumn is the best time if you need to control grasses and other coarse species</td>
            <td class="govuk-table__cell">Every 2-3 years</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Vary cultivation depth
            </th>
            <td class="govuk-table__cell">Occasional ploughing to a greater depth – this  can bury weed seeds to a depth from which they will not emerge</td>
            <td class="govuk-table__cell">Spring or autumn – depending on whether you have spring or autumn germinating plants</td>
            <td class="govuk-table__cell">Every 2-3 years</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Relocate plots to cleaner ground
            </th>
            <td class="govuk-table__cell">Moving plots to locations with less of a grass and broad-leaved weed burden can be an effective control method</td>
            <td class="govuk-table__cell">Spring or autumn. Timing will depend on whether you have mainly spring or autumn germinating plants</td>
            <td class="govuk-table__cell">As and when required - when  weeds become a problem and are not giving arable plants enough space to grow and thrive. Should not be used if rare, localised species are present</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Topping
            </th>
            <td class="govuk-table__cell">Cutting to a height of around 30cm can prevent species such as creeping thistle, docks and common ragwort from setting seed. Cutting at 30cm minimises impact on desirable plants as most are low growing</td>
            <td class="govuk-table__cell">Late June to early July.</td>
            <td class="govuk-table__cell">Only if weeds are outcompeting the arable plants</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Spot application of herbicide by knapsack or hand lance
            </th>
            <td class="govuk-table__cell">Spot treatment can be effective, minimising impacts on desirable plants</td>
            <td class="govuk-table__cell">Late June to early July.</td>
            <td class="govuk-table__cell">Should be used to control injurious weeds such as broad-leaved dock, curled dock, creeping thistle, spear thistle, common ragwort, nettle, giant hogweed, Himalayan balsam & Japanese knotweed</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Manual removal
            </th>
            <td class="govuk-table__cell">Effective if carried out regularly. Suitable for smaller areas.</td>
            <td class="govuk-table__cell">Late June to early July.</td>
            <td class="govuk-table__cell">As and when required – little and often</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apply non-selective herbicide
            </th>
            <td class="govuk-table__cell">Effective. It is best to top the weeds in July to prevent seeds returning prior to the herbicide application</td>
            <td class="govuk-table__cell">From beginning of September, before re-cultivation</td>
            <td class="govuk-table__cell">Suitable only when there is a dominance of aggressive species such as fat hen, thistles or mugwort. Not suitable for non-rotational plots as the plant seed bank could be depleted. 
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apply contact acting graminicide
            </th>
            <td class="govuk-table__cell">Effective if grass weeds are a problem. Not all graminicides are suitable for use on cultivated plots. Some species, such as fescues are tolerant of some graminicides. It is best to consult your agronomist to agree the appropriate product and application rate.</td>
            <td class="govuk-table__cell">It is best to apply in March or October when grasses are at the right growth stage.</td>
            <td class="govuk-table__cell">When grass weeds dominate the plot and are not giving arable plants enough space to grow 
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l"><a name="successful">How a successful margin or plot should look</a></h2>
      <p>You will know when your management is right when you have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>annual presence of arable plants and seeds from mid-April to the end of August</li>
        <li>open patches with some bare areas and shorter vegetation which gives birds easy access to seeds on the ground</li>
      </ul>
      <p>You see arable plant species such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>splashes of blue and violet of speedwells and dead nettle</li>
        <li>carpet of bright red common poppies</li>
        <li>range of scarce species such as shepherds needle and corn spurrey</li>
      </ul>
      <p>You have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>bees, wasps, hoverflies and  butterflies foraging for pollen and nectar</li>
      </ul>

      

        <h2 class="govuk-heading-l"><a name="legal"></a>Legal requirements</h2>
        <p><a href="">Cross Compliance</a> - check whether you need to leave a two metre buffer when cultivating margins next to hedgerows</p>
        

          <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
          <ul class="govuk-list">
            <li><a href="">Arable plants - a management guide (opens in a new tab or window)</a> – Plantlife</li>
            <li><a href="">Arable plants on calcareous soils (opens in a new tab or window)</a> – Plantlife</li>
            <li><a href=""><li><a href="">Cultivated margins and plots (opens in a new tab or window)</a> – Plantlife</li>
          </ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}