{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Create or maintain hill slope tree shelter belts to reduce flooding
</h1>

      <p class="govuk-body-l">Find out how to create or maintain a shelter belt of trees on hill slopes to protect land from flooding.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">Benefits of hillslope tree shelter belts</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where you can create hillslope tree shelter belts</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How to create and maintain a hillslope tree shelter belt</a></li>
            </ol>

          </nav>
        </aside>

        <h2 class="govuk-heading-l"><a name="where">Benefits of hillslope tree shelter belts</a></h2>

        <p>Tree shelter belts on hillslopes will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>reduce the risk of flood</li>
          <li>improve water quality</li>
          <li>prevent soil erosion</li>
          <li>support wildlife</li>
          <li>enhance the landscape</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="where">Where you can create hillslope tree shelter belts</a></h2>

        <p>You can create a shelter belt of trees on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>bare land (any land that has not been woodland for at least 10 years)</li>
          <li>woodland where trees have been felled due to a disease</li>
          <li>hedgerows</li>
        </ul>

        <p>You should not create tree shelter belts:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if tree planting could damage areas of ecological, archaeological or historic interest</li>
          <li>to plant woodland for producing Christmas trees or biomass</li>
          <li>for restocking woodlands following a conditional felling licence (except where this has been issued for tree health reasons)</li>
          <li>to plant ash trees</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="how">How to create and maintain a hillslope tree shelter belt</a></h2>

        <p>Use the <a href="https://www.forestresearch.gov.uk/tools-and-resources/ecological-site-classification-decision-support-system-esc-dss/">FC tree species selection tool</a> to find the right species for your soil and climate conditions.</p>

        <p>Create a suitable planting position by spraying herbicide in advance. Use a scarifier to create lines or prepare a bare patch of land (screefing) with a spade. Remove weeds by hand, or by using a suitable mulch or herbicide.</p>

        <h3 class="govuk-heading-m">Choose the right planting method</h3>

        <p>Use a planting method that helps survival, with roots fully inserted in the ground with the root collar at ground level - the tree must be firmed in without damaging the stem.</p>

        <p>Dead plants can be replaced in the following planting season.

        <h3 class="govuk-heading-m">Protect your tree shelter</h3>

        <p>Protect young trees by attaching a spiral secured with a cane. This will stop animals from damaging the trees. Keep them until the trees are big enough to no longer need protection. You can use tree shelters instead of spiral guards.</p>


        </div>
    </div>
  </div>
{% endblock %}