{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A26: Create plots for ground nesting birds</h1>
      <p class="govuk-body-l">Use this guidance to create fallow plots for ground nesting birds within arable crops. See <a href="">grassy strips in arable fields</a>, <a href=""></a>flower rich plots</a>, <a href="">winter bird food plots</a> and <a href="">nectar flower mix</a> for other actions to combine with nesting plots. Locate these in close proximity to provide a source of food for the birds and their chicks.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why create plots for ground nesting birds?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#when">When and how</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for successful management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#examples">Good examples</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#problems">Problems</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="why"></a>Why create plots for ground nesting birds?</h2>
        <p>By creating uncropped cultivated areas you will provide suitable nesting sites for birds such as lapwing, skylark and stone curlew which need bare or sparsely vegetated ground to nest on. These birds have declined by between 50 and 80% since the 1960’s.</p>
        <p>Fallow plots play an important role in aiding the recovery of these species. For example they have contributed to the recovery of the English stone curlew population from c.150 pairs in the 1980s to c.400 pairs in 2012.</p>
        <p>The combination of bare ground and scattered vegetation present on the plots will also provide food and foraging habitat for other species such of invertebrates, small mammals and birds.</p>
        <p>The plots are simple and cheap to establish and can fit easily into your cropping pattern.</p>

      <h2 class="govuk-heading-l"><a name="where"></a>Where</h2>
        <p>Stone curlew are generally found on chalk or sandy soils in central southern England and in East Anglia. Lapwing and skylark are more widespread. You may already know which species are present in your area but if not you can easily check on the <a href="">Bird Atlas Map Store</a>.</p>
        <p>To increase the chance of your nesting plots being successful, choose fields:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>where the species has previously nested</li>
          <li>in open landscapes; at least 100 m away from woods, trees and overhead power-lines which provide perches for predators such as crows</li>
        </ul>
        <p>Locate the plots:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>away from tramlines, field boundaries, margins or other landscape features that would give ground predators an easy route in.</li>
          <li>in close proximity to an insect rich area such as a buffer strip, extensively managed grassland, wild bird seed or nectar flower plot to provide insect food for the birds and their chicks</li>
        </ul>
        <p>You should avoid fields:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>with public rights of way to reduce the likelihood of disturbance</li>
          <li>with severe weed problems as the birds need fairly open ground</li>
          <li>that are likely to flood during the spring which could wash away the nest</li>
          <li>at risk of soil erosion as this is made worse by creating bare ground</li>
          <li>with known archaeological features which ploughing would damage</li>
        </ul>
    

      <h2 class="govuk-heading-l"><a name="when">When and how</a></h2>
      <p>There are two types of plots you can create:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>large plots of around 2ha in size aimed at lapwing, stone curlew and skylark</li>
        <li>small plots of around 16m² for skylark</li>
      </ul>
      
      <h3 class="govuk-heading-m">Large plots</h3>
      <p>Create a fallow plot with a rough uneven surface. The most successful plots are around 2ha in size to give the birds enough space to conceal themselves from predators. Plots should be ready by mid February to early March in time for the first breeding attempts of the birds.</p>
      <p>To create the plots you can plough in the autumn or spring, or you can harrow or disc in the spring. Avoid cultivating in wet conditions. <a href="">Weed control</a> may be needed at establishment.</p>
      <h3 class="govuk-heading-m">Small plots</h3>
      <p>Create small bare plots within winter cereal crops. The plots should be at least 3m wide and have a minimum area of 16m² for example 3m x 6m or 4m x 4m. Space plots across the field with at least two plots per ha to maximise nesting sites whilst allowing for territorial behaviour.</p>
      <p>To create the plots you can either turn off the drill during sowing of winter cereals to leave an unsown plot, or sow the crop as normal and spray out the plots by the end of December with an appropriate herbicide.</p>
      

      <h2 class="govuk-heading-l"><a name="considerations"></a>Considerations for successful management</h2>
      <p>The aim is to create bare or sparsely-vegetated ground conditions throughout the nesting season. The timing and length of the nesting season differs depending on which species you are managing the plot for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>lapwings start and finish nesting early so you can allow some regrowth of vegetation up to 70% cover by the end of April to provide cover for young chicks. Keep the plot until the end of July when the lapwing have moved off.</li>
        <li>Stone curlew have two broods so will require bare ground until later in the season. To achieve this you can spray between half and the whole of the plot with herbicide in May. Take care to give any active nests or chicks a wide berth to avoid disturbing or destroying them. Keep your plots until at least the end of September as stone curlews have a long nesting season.</li>
        <li>Skylark will make up to three nesting attempts between April and August. Keep skylark plots until the crop is harvested.</li>
      </ul>
      <p>All plots will need to be re-created every year as the cultivation is essential to create bare ground. You can keep plots in the same place every year or rotate them around suitable fields. Rotate plots to fit in with your crop rotation or to when you need to control weeds. If stone curlews are using a plot then do not move the plot as stone-curlew will nest in the same place every year.</p>
      
      <h2 class="govuk-heading-m"><a name="fertiliser">Fertiliser</a></h2>
      <h3 class="govuk-heading-s">Large plots</h3>
      <p>The large plots should not receive any fertiliser or manure as this would favour lush vegetation growth which is contrary to the bare conditions you want.</p>
      <h3 class="govuk-heading-s">Small plots</h3>
      <p>For ease of management you can fertilise small plots along with the rest of the crop.</p>

      <h2 class="govuk-heading-m"><a name="weed">Weed control</a></h2>
      <h3 class="govuk-heading-s">Large plots</h3>
      <p>Spray off any weeds that are present in February. This will help prevent the area becoming dominated by weeds later in the season. Aggressive weeds such as black-grass, wild oats and sterile brome are especially important to control. Spray these off with a non-selective herbicide such as glyphosate.</p>
      <p>If the regeneration is dense and exceeds 10 cm high in early spring, and no nesting birds are present, spray again or re-cultivate to restore suitable nesting habitat.</p>
      <h3 class="govuk-heading-s">Small plots</h3>
      <p>For ease of management you can overspray the small plots along with the rest of the crop.</p>

      <h2 class="govuk-heading-l"><a name="examples"></a>Good examples</h2>
      <p>A successful plot will provide bare ground for the target birds to nest on during the breeding season.  It will have no problem weeds such as blackgrass, couch, brome and wild oats, or if present only in low numbers.</p>
     <p>You will see the target bird species using it. You will see lapwing displaying over the plot in February and March, or skylark singing over the field during the spring and summer. You will hopefully see the birds landing in the plots or sitting on nests. Stone curlew are more secretive but can be observed from a safe distance through binoculars.</p>
     <p>The photograph below shows a well-managed, appropriately-located stone curlew nesting plot. It is located in an open landscape away from tall trees. Half has been sprayed off mid season to create bare ground into May and June.</p>

     <h2 class="govuk-heading-l"><a name="problems"></a>Problems</h2>
     <h3 class="govuk-heading-m">Missed cultivation date</h3>
     <p>If the land is very wet or even snow covered and by mid March you have not been able to cultivate it, you will need to proceed with caution as some birds will already be nesting. If the plot is pretty bare or birds are already nesting on it, leave it and do not cultivate it this year. However if vegetation cover is dense birds are unlikely to use it so cultivate it as soon as possible. Immediately before cultivating watch carefully for any of the target birds. If you see them landing on the plot or displaying over it, it’s best not to disturb it.</p>
     <p>If your land is frequently too wet to cultivate in spring you could try cultivating in autumn instead.</p>
     <h3 class="govuk-heading-m">Weed problems</h3>
     <p>If you get a very dense crop of weeds in the plot despite having followed the weed control and establishment guidance, it may be best to move the plot next year. On some land a weed burden can build up where plots are left in the same location for several years. Moving the plot to a different field and growing a crop in the previous field for a few years gives you a chance to clean the area up.</p>
     <h3 class="govuk-heading-m">No birds present</h3> 
     <p>If you think you have done everything right and the habitat looks good but still have no birds using it, consider whether:</p>
 
      <ul class="govuk-list govuk-list--bullet">
        <li>the field is too enclosed or too near to tall trees</li>
        <li>the weed cover is too dense</li>
        <li>the birds are using other fields on your farm</li>
        <li>the birds are in the area</li>
      </ul>
      <p>If you know that there are birds nesting nearby, you could try locating the plot in another field the following year which they may prefer. Ensure that you prepare the plot early enough in the season and control the weeds.</p>
      <h3 class="govuk-heading-m">Predation</h3>
      <p>You may see evidence that the eggs or chicks or even the adult birds have been predated. If predator numbers are high you may wish to carry out some legal predator control. Consider using <a href="">predator fencing</a> for lapwing and stone curlew nests.</p>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}