{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Fence off water sources from livestock to prevent erosion and contamination</h1>

      <p class="govuk-body-l">You can fence off rivers, streams, lakes and ponds from livestock to protect environmental features and help manage habitats.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">How this will benefit the environment</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-fences-netting">Advice and suggestions on how to put up fences and sheep netting</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#keeping-records">Keeping records</a></li>
            </ol>

          </nav>
        </aside>

        <h2 class="govuk-heading-l"><a name="benefits">How this will benefit the environment</a></h2>

        <p>Fences and sheep netting will help control livestock and:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prevent bankside erosion</li>
          <li>reduce nutrient input</li>
          <li>reduce faecal contamination</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="how-fences-netting">Advice and suggestions on how to put up fences and sheep netting</a></h2>

        <p>You should not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>attach the fence or netting to trees or hedgerows</li>
          <li>block or restrict <a href="https://www.gov.uk/right-of-way-open-access-land/use-your-right-to-roam">access to open access land</a></li>
        </ul>


        <h2 class="govuk-heading-l"><a name="keeping-records">Keeping records</a></h2>

        <p>We may ask you for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any consents or permissions connected with the work</li>
          <li>receipted invoices, or bank statements</li>
          <li>photographs of the site before works start</li>
        </ul>

        <p>You should keep:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>photographs of completed work</li>
        </ul>
      </div>
    </div>
  </div>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}