{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A21: Grow cereals with low inputs</h1>
      <p class="govuk-body-l">Use this guidance to help you create a low input cereal crop which will provide food, shelter and nesting areas for <a href="">farmland birds</a> during spring and summer. Use in combination with other actions such as pollen and nectar mix, beetle banks and winter bird food plots to provide the year round resources needed to help birds and other wildlife survive and thrive.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why choose low input cereal?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to sow</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#when">When to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for successful management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="why"></a>Why choose low input cereal?</h2>
        <p>Low input cereal is a cereal crop which does not receive fertiliser, insecticide or broad-leaved herbicide. The crop is sown at a lower rate than you would normally sow for commercial planting. This results in a crop with an open structure which gives arable plants the extra space and light needed to germinate, flower, and set seed. The seeds from these plants are a valuable food source for farmland birds.</p>
        <p>Bees, butterflies and other pollinating insects will be attracted to the flowering broadleaved plants within your crop. This will include beneficial predatory insects which will help to control crop pests. During spring and summer, farmland birds will use these insects to feed their chicks.</p>
        <p>Brown hare and other small mammals are also likely to use the area for shelter and for foraging.</p>
        <p>Providing low input cereal allows you to add wildlife value to your holding without having to take land out of production or disrupt your crop rotation.</p>
        

      <h2 class="govuk-heading-l"><a name="where"></a>Where to sow</h2>
        <p>Low input cereal can be created anywhere you would normally grow a commercial crop. For the best results choose locations which have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>low levels of weeds such as couch, blackgrass, brome, ryegrass, wild oats or cleavers</li>
            <li>known populations of arable plants such as common poppy, fat hen, field pansy, common chickweed or redshank</li>
            <li>known populations of seed eating birds such as grey partridge, turtle dove, tree sparrow, yellowhammer or corn bunting</li>
          </ul>
        <p>You should avoid planting low input cereal following oilseed rape, potatoes, beans or peas. These crops produce volunteers which are difficult to control in a low input cereal crop.</p>
        <p>You should not plant low input cereal where ploughing may cause damage to historic earthworks or underground archaeological features.</p>

      <h2 class="govuk-heading-l"><a name="what"></a>What to sow</h2>
      <p>Barley, wheat, triticale, rye oats and red or white millet are all suitable for sowing as a low input cereal. You should not use maize or sorghum as the height of the crop will not provide suitable conditions for arable plants to grow underneath.</p>
      <p>Sow at a rate which produces a plant population of 450-700 fertile tillers per square metre. This will provide an open crop structure. The appropriate seed rate will depend on your crop choice, field conditions and sowing date. Your agronomist will be able to advise on a suitable seed rate, but as a guide it is likely that you would need to reduce your commercial crop rate by 30-50%.</p>
        
        <h2 class="govuk-heading-l"><a name="when">When to sow</a></h2>        
        <p>You can sow your cereal in autumn or spring. Red or white millet should be sown in spring as they are not winter hardy.</p>
        <p>Spring sown crops may have fewer grass weeds and provide valuable nesting habitat for birds such as <a href="">skylark</a>.</p>
        <p>Different arable plants germinate at different times of year.  If you are aware of specific arable plants on your land then consider seeking specialist advice on whether a spring or autumn sown crop would be best.</p>
        
        <h2 class="govuk-heading-l"><a name="how">How to sow</a></h2>
        <p>Low input cereals are not suitable for minimum or no tillage cultivation techniques. You will need to plough your land before sowing to bring the seeds of arable plants to the surface. You can sow your low input cereal at the same time as your commercial crop.</p>

        <h2 class="govuk-heading-l"><a name="considerations">Considerations for successful management</a></h2>
        <h3 class="govuk-heading-m">Crop nutrition</h3>
        <p>You should avoid applying any manures, fertilisers or lime. A less vigorous crop will give arable plants more chance to grow. Lower fertility may also help to reduce vigorous weeds.</p>

        <h3 class="govuk-heading-m">Weed control</h3>
        <p>If you grow low input cereals in the same place for a number of years then you may get a build-up of weeds. Rotate the crop around your holding to avoid this.</p>
        <p>You should not use herbicides which will kill the broadleaved arable plants in your crop. You can use products with the following active ingredients to control grass weeds and cleavers:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>amidosulfuron</li>
          <li>clodinafop-propargyl</li>
          <li>fenoxaprop-p-ethyl</li>
          <li>pinoxaden</li>
          <li>tri-allate</li>
        </ul>
        <p>Always consult a British Agrochemical Standards Inspection Scheme (BASIS) qualified agronomist when using chemicals to control weeds. A BASIS agronomist will provide you with up to date information on approved products and application rates to suit your needs.</p>

        <h3 class="govuk-heading-m">Pest control</h3>
        <p>You should not use insecticides on your low input cereal as the insects within your crop are a vital food source for birds. You can maximise opportunities for natural predator control by providing tussocky <a href="">grass margins</a> next to your crop or <a href="">beetle banks</a> across the middle of larger fields. These will provide overwintering habitat for predatory insects and spiders which will disperse throughout your crop during the summer months feeding on aphids and other crop pests.</p>
        <p>Fungicides can be used if required.</p>

        <h3 class="govuk-heading-m">Harvest</h3>
        <p>You should leave harvesting your cereal as late as possible to allow arable plants to set seed.  Most arable plants will have set seed by mid-August. You will provide further habitat for wildlife by leaving <a href="">overwinter stubble</a> in place. If your land is at risk of soil erosion from runoff then you may consider planting a cover crop.</p>

        <h3 class="govuk-heading-m">How successful low input cereal should look</h3>
        <p>You will know your management is right when you see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a crop with an open structure</li>
          <li>splashes of colour from arable plants such as wild poppies growing amongst your cereals</li>
          <li>bees, butterflies and other pollinators feeding on nectar</li>
          <li>arable plants completing their lifecycle and setting seed</li>
          <li>birds such as <a href="">grey partridge</a> and <a href="">corn bunting</a> using the area to forage for seeds and insects</li>
          <li>birds such as <a href="">skylark</a> nesting in your spring cereal</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="legal"></a>Legal requirements</h2>
        <p>Under the Wildlife and Countryside Act 1981 all birds, their nests and eggs are protected by law and it is an offence, with certain exceptions, to intentionally kill, injure or take any wild bird; or to intentionally take, damage or destroy the nest of any wild bird whilst it is in use or being built.</p>
        </ul>
        

          <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
          <ul class="govuk-list">
            <li><a href="">Land management for arable plants (opens in a new tab or window)</a>  Plantlife</li>
            <li><a href="">Low input cereals (opens in a new tab or window)</a> RSPB</li>
          </ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}