{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Increase organic matter in soils to reduce wind erosion</h1>

      <p class="govuk-body-l">Find out what you need to do to reduce wind erosion by increasing organic matter in soils.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where-soil-erosion-wind-happens">Where soil erosion by wind can happen</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">Benefits of doing this action</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How to increase organic matter in soils</a>
                <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#plant-vegeation">Plant vegetation as ground cover</a></li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#improve-crop-residue">Improve crop residue</a></li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#reduce-tillage">Reduce tillage</a></li>
                </ol>
              </li>
            </ol>

          </nav>
        </aside>

        <p>Soil erosion affects the quality of soil and reduces soil fertility. It can also lead to increased air and water pollution. Organic matter in soils can help to improve soil quality and structure. This reduces the amount of erosion caused by wind.</p>

        <h2 class="govuk-heading-l">Where soil erosion by wind can happen</h2>

        <p>Your land may be more at risk from wind erosion if you have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>loamy sand soil</li>
          <li>soil that is high in sodium or salt</li>
        </ul>
        <p>Clay, coarse sand or rocky soils are more resistant to wind erosion.</p>

        <h2 class="govuk-heading-l">Benefits of doing this action</h2>

        <p>Reducing wind erosion of soil will help to reduce air and water pollution caused by increased carbon emissions and sediment leaching.</p>

        <h2 class="govuk-heading-l">How to increase organic soil matter levels</h2>

        <h3 class="govuk-heading-m">Plant vegetation as ground cover</h3>

        <p>Plants help to absorb the energy of wind before it can detach soil particles. They work by covering the soil and binding it with roots. The best plants to grow to increase organic matter in soils are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>perennial pasture</li>
          <li>cereal crops</li>
          <li>green manure crops</li>
        </ul>
        <p>You may wish to combine planting with other activities such as spreading manure, using organic fertilisers and reducing cultivation.</p>

        <h3 class="govuk-heading-m">Improve crop residue</h3>

        <p>Crop residues are materials left in a field after the crop has been harvested. They are an important source of organic carbon and help to reduce wind erosion by increasing soil roughness.</p>
        <p>To improve crop residue you could matt the soil with biodegradable materials such as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>mulch (dead leaves or shredded wood)</li>
          <li>straw</li>
          <li>cocounut fibre</li>
          <li>wood chips</li>
        </ul>

        <h3 class="govuk-heading-m">Reduce tillage</h3>

        <p>Reducing tillage, or the speed of tillage, can help to decrease soil erosion in certain soils, especially in sandy and dry soils on sloping terrain. It does this by improving soil organisms and aggregates, and reducing airborne dust.</p>        





                
      </div>
    </div>
  </div>
{% endblock %}