{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">U17: Manage chalk and limestone grassland in the lowlands</h1>
      <p class="govuk-body-l">Use this guidance if you manage grassland on limestone or chalk soils in the lowlands. By maintaining this habitat you can help this rare grassland and the species it supports to survive and thrive. If you are interested in creating limestone grassland on your land refer to <a href="">Guidance note: creating species rich grassland</a>.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where can you find chalk and limestone grassland in the lowlands?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What is limestone grassland in the lowlands?</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why managing limestone grassland in the lowlands is important</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How do you know when you are successful?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for successful management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</a></li>
              
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="where"></a>Where can you find chalk and limestone grassland in the lowlands?</h2>
        <p>You may know these grasslands by local names including ‘wolds’ or ‘downs’. You can find them:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>widely distributed across lowland Britain, mainly in the south and east on the chalk downs of Wiltshire, Dorset, Kent and Sussex</li>
          <li>on shallow soils overlying limestone rocks or chalk, including in the Yorkshire and Lincolnshire wolds and the Derbyshire White Peak</li>
        </ul>
        
        

      <h2 class="govuk-heading-l"><a name="what"></a>What is limestone grassland in the lowlands?</h2>

        <p>Your limestone or chalk grassland is likely to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>be part of a mixed farming system, supporting sheep, cattle or sometimes horses</li>
            <li>be managed as pasture, although some examples are cut for hay</li>
            <li>support a variety of wildflowers including orchids, cowslip, fairy flax and ladies bedstraw</li>
            <li>contain characteristic herbs including thyme, marjoram and wild basil</li>
            <li>have some small scattered areas of scrub, including lime-loving species such as guelder rose, dogwood and burnet rose</li>
            <li>contain anthills which are often a feature of this grassland</li>
          </ul>

      <h2 class="govuk-heading-l"><a name="why"></a>Why managing limestone grassland in the lowlands is important</h2>
      <p>By maintaining these grasslands you can help to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>enable a wide variety of wildflowers to flourish</li>
        <li>provide space for a variety of birds to feed, roost or raise chicks including the rare stone curlew and declining skylark</li>
        <li>support a range of specialist insects which rely on this habitat including the Adonis blue butterfly and the wart-biter cricket</li>
        <li>contribute to the landscape of an area</li>
        <li>protect archaeology beneath the ground, find further information in Guidance note: <a href="">Historic features in grassland</a></li>
      </ul>
        
        <h2 class="govuk-heading-l"><a name="how">How do you know when you are successful?</a></h2>

        <p>Your grassland will vary depending on its management history, soil type and location. You will know the management is right when you see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a mix of long and short grass where different plants and animals can survive</li>
          <li>a large range and high density of typical wildflowers</li>
          <li>scattered scrub and tree cover where birds can breed and shelter</li>
          <li>small patches of bare ground with mosses and lichens where insects can warm up and burrow</li>
          <li>less coarse grasses such as tor-grass which can take over wildflower areas</li>
        </ul>

        <h4 class="govuk-heading-m">Spring</h4>
        <p>If grazing is right you will see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a fairly short sward (5-10 cm tall) over most of the site</li>
          <li>taller clumps of vegetation (15-30 cm tall) on up to a third of the area</li>
          <li>scattered patches of short grass with some open soil or rock where insects may be basking on sunny days</li>
          <li>scattered scrub surrounded by taller grasses and flowers</li>
        </ul>
        <h4 class="govuk-heading-m">Summer</h4>
        <p>If grazing is right you will see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the grassland carpeted in <a href="">typical wildflowers</a></li>
          <li>species such as kidney vetch, common rock-rose, small scabious, fairy flax and bee and pyramidal orchids in the richest swards</li>
          <li>flowering sedges and fine leaved grasses like quaking grass</li>
          <li>the site buzzing with insects including grasshoppers, hover flies, bees and butterflies such as the common blue, brown argus and, in the south, Chalkhill and Adonis blues</li>
        </ul>
        <h4 class="govuk-heading-m">Autumn to winter</h4>
        <p>If grazing is right you will see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>less spectacular flower displays than in summer</li>
          <li>late nectar sources such as the blue flowers of devil’s-bit scabious which are valuable to butterflies such as red admiral and small copper</li>
          <li>a number of mushrooms such as the striking scarlet waxcap</li>
          <li>scrub bearing berries that attract birds such as bullfinch, fieldfare and redwing</li>
        </ul>


        <h2 class="govuk-heading-l"><a name="considerations">Considerations for successful management</a></h2>
        <p>Lowland calcareous grassland needs management to maintain the habitat and create the right conditions for flowers to flourish. Grazing is the ideal method as it creates a more varied sward than cutting.</p>
        <h4 class="govuk-heading-m">Grazing</h4>
        <p>Your judgement about livestock numbers at different times of the year is crucial to getting the best from this type of grassland. Find further information in Guidance Note: Grassland and livestock grazing.</p>

        

        <h4 class="govuk-heading-s">Things to look out for</h4>
        <p>Grazing levels are too high if:</p>        
        <ul class="govuk-list govuk-list--bullet">
          <li>your sward is less than 3cms over most of the land</li>
          <li>wildflowers have been grazed out and are unable to set seed</li>
          <li>there are large patches of bare ground or heavily poached areas</li>
          <li>scrub is absent</li>
        </ul>
        <p>Grazing levels are too low if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your sward is over 15cms in many areas</li>
          <li>grassland has become rank and is not palatable to livestock</li>
          <li>a dense thatch of dead grass and plant litter more than 1cm has built up</li>
          <li>scrub is encroaching into the grassland</li>
        </ul>
        <h4 class="govuk-heading-s">Tips for success</h4>
        <p>You can consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>using small hardy breeds of cattle which are best at creating a mix of long and short grass</li>
          <li>moving sheep away from these grasslands for a few weeks during summer to help plants to flower and set seed</li>
          <li>using sheep or hardy ponies to graze down vigorous grasses like Tor-grass and Yorkshire fog in late autumn and winter</li>
        </ul>

        <h4 class="govuk-heading-m">Cutting and mowing</h4>
        <p>Cutting may be your only option on small sites or sites without boundaries.</p>
        <p>Where cutting needs to be carried out consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a single annual cut in late summer once plants have flowered and set seed is the simplest method</li>
          <li>removing the cut vegetation will prevent the build-up of nutrients</li>
          <li>leaving some areas uncut will help insects to complete their lifecycles</li>
          <li>another cut in late autumn will benefit orchids that prefer a short sward</li>
        </ul>

        <h4 class="govuk-heading-m">Tree and scrub management</h4>
        <p>If your land has been ungrazed or very lightly grazed for a period then scrub may have developed. This can be beneficial for some wildlife, but if it spreads unchecked your wildflower habitats will disappear. Consider controlling trees and scrub. Find further information in <a href="">Guidance note: management of scrub</a>.</p>

        <h4 class="govuk-heading-m">Sowing wildflowers</h4>
        <p>Consider introducing seeds if your grassland is missing some of the <a href="">typical wildflowers</a>. This can be done by spreading flower rich grass from nearby chalk or limestone grassland, sowing seeds or plug plants. You can cultivate small areas to provide the best conditions for flower establishment. Find further information in <a href="">Guidance note: increasing flowers in grassland</a>.</p>
       
        <h4 class="govuk-heading-m">Supplementary feeding</h4>
        <p>Supplementary feeding increases the risk of nutrient enrichment and poaching by livestock. Nutrient enrichment will encourage the growth of weeds and competitive grasses, giving less space for wildflowers to grow. Too much poaching will damage the grassland and soil structure. It is best if you avoid supplementary feeding your livestock unless required for animal welfare reasons. To reduce poaching, feeders are best placed away from wildflower areas.</p>
       
        <h4 class="govuk-heading-m">Managing limestone grassland for insects, reptiles and butterflies</h4>
        <p>These species need a mix of habitats to enable them to survive and complete their life cycle. To manage your grassland with these species in mind, it is best if you have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>bare ground for nesting, burrowing and basking </li>
          <li>flowers providing nectar</li>
          <li>grasses at a range of heights to provide shelter and cover</li>
          <li>fine-leaved grasses and wildflowers which are foodplants for caterpillars of butterflies such as small heath and northern brown argus</li>
          <li>some scrub for shelter, food and nesting</li>
        </ul>
        <p>Find further information in <a href="">Guidance note: managing grassland for insects reptiles and butterflies</a>.</p>

        <h4 class="govuk-heading-m">Managing undesirable plants</h4>
        <p>Controlling species such as thistles, docks and ragwort will provide space for wildflowers to grow and livestock to graze. Find further information in <a href="">Guidance notes: Controlling undesirable species</a> and <a href="">Managing ragwort</a>.</p>

        <h2 class="govuk-heading-l"><a name="legal"></a>Legal requirements</h2>
        <p>You will need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>obtain consent from the <a href="">Environment Agency</a> if you need to use herbicides near rivers and streams</li>
          <li>consult <a href="">Natural England</a> if changing the management within a Site of Special Scientific Interest (SSSI)</li>
          <li>consult <a href="">Natural England</a> if undertaking certain activities on a Scheduled Monument</li>
        </ul>
        

          <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
          <ul class="govuk-list">
            <li><a href="">JNCC UK habitats and species lowland calcareous grassland (opens in a new tab or window)</a></li>
            <li><a href="">Common standards monitoring guidance for lowland habitats – calcareous grassland (lowland)  (opens in a new tab or window)</a></li>
            <li><a href="">Natural England technical information note TIN082 first edition 12 November 2010 illustrated guide to lowland limestone grassland (opens in a new tab or window)</a></li>
            <li><a href="">Buglife advice on managing BAP habitats: lowland calcareous grassland (opens in a new tab or window)</a></li>
          </ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}