{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A25: Manage grassy strips in arable fields</h1>
      <p class="govuk-body-l">Use this guidance to help you create and manage grassy strips on your arable land.  Grassy strips are areas of land maintained as permanent vegetation. They provide protection for water bodies, historic features and wildlife areas. If you have intensively managed grassland refer to <a href="">Guidance note: Grassy strips in improved grassland</a>.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why create grassy strips?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to put grassy strips</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for grassy strip establishment</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#ongoing">Ongoing management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How a successful grassy strip should look</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="why"></a>Why create grassy strips?</h2>
        <p>By creating grassy strips on your land you can help to improve water quality, reduce soil erosion, conserve historic features and help wildlife thrive. Grassy strips protect watercourses, hedgerows and woodlands from pesticides, fertilisers and sediments by restricting the flow of surface run-off from arable fields. If these pollutants enter the water they can reduce water quality and harm aquatic wildlife. Grassy strips give hedgerows, trees and woodland edges more room and protects them from pesticides, and gives them more space. This can help avoid damage from and to your farm machinery.</p>        
        <p>Grassy strips provide nesting sites and a refuge for birds and small mammals, and shelter for beetles and spiders. They supply pollen and nectar sources for insects, which in turn provide food for chicks. Strips can help improve your crop health by encouraging beneficial insects, such as hoverflies, whose larvae eat aphids.</p>
        <p>If you have historic features, such as buried archaeology, creating grassy strips can protect the remains from cultivation.</p>

      <h2 class="govuk-heading-l"><a name="where"></a>Where to put grassy strips</h2>
        <p>This will depend on the situation on your land. You may want to protect watercourses from pollutants, preserve historic features, or conserve woodland areas. You should not create grassy strips where you have arable plants. The grasses will take over, and the plants will disappear.</p>
      <h3 class="govuk-heading-m">Protecting watercourses</h3>
      <p>To be most effective, it is best if you create grassy strips next to the following features:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>rivers, streams or brooks</li>
        <li>temporary watercourses such as ditches or streams that are not always wet</li>
        <li>springs or ditches</li>
        <li>lakes or ponds</li>
      </ul>
      <p>Surface water usually collects in smaller watercourses and then flows to larger rivers. By having grassy strips alongside smaller waterways you will be helping to improve water quality in main rivers and channels. If you have trackways that funnel run-off into watercourses, establishing strips next to these will help restrict the flow. They can also be useful within fields if aligned with the contours, to help reduce run-off and soil erosion.</p>
      <p>For best results you should create grassy strips where field slopes range from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>2 - 11 degrees on sandy and light silty soils</li>
        <li>2 - 7 degrees on medium and chalk and limestone soils</li>
      </ul>
      <p>If you have steeper slopes then you should create wider strips. This will be more effective in slowing down run-off, filtering pollutants and catching sediment.</p>

      <h3 class="govuk-heading-m">Protecting historic features</h3>
      <p>If you need to protect historic features, grassy strips work well if you have small areas of buried or above ground archaeology. If you have extensive areas that cover one or more fields consider reduced depth cultivation or taking these areas out of cultivation. Refer to guidance notes on <a href=""></a>Taking historic features out of cultivation</a> and <a href="">Reduced-depth non-inversion cultivation on historic features</a>.</p>
      
      <h3 class="govuk-heading-m">Protecting hedgerows, woodland and other wildlife areas</h3>
      <p>Grassy strips work best when they form a network across the landscape. You can look for habitats for the strips to protect and link to, such as woodland, hedgerows and grasslands. If you join these areas up with strips it will provide foraging and hunting routes for bats and birds. You can place a grassy strip within a field to protect features, such as a line of trees marking an old field boundary. Creating grassy strips away from roadsides can reduce the risk of barn owls being killed by road traffic.</p>
      <p>A sunny, sheltered location will be best for most wildlife. If your main reason for the strip is to protect a feature such as a woodland, it doesn’t matter if the location is shaded.</p>

      <h3 class="govuk-heading-m">Enhancing the landscape</h3>
      <p>If you have large rectangular fields grassy strips can help strengthen the shape and enhance landscape character. Grassy strips do not work so well in small irregular shaped fields, as they can change the characteristic field pattern.</p>

      <h3 class="govuk-heading-m">Soil type</h3>
      <p>Grassy strips to control run-off are best suited to sandy, light silty soils and chalk and limestone soils. On heavy soils, soil particles tend to flow with the water into watercourses. If you have heavy soils you can still create grassy strips, but you may need to consider <a href="">alternative management options</a>.</p>

      

      <h2 class="govuk-heading-l"><a name="considerations">Considerations for grassy strip establishment</a></h2>
      <h3 class="govuk-heading-m">Grassy strip size</h3>
      <p>The wider the buffer, the more effective it will be. Evidence suggests that the minimum width should be 6 metres. If you have steeply sloping fields next to ditches, streams or rivers then a width of between 12 metres and 24 metres should be created. This will ensure that the strip can intercept sediments, nutrients and chemicals.</p>
      <h3 class="govuk-heading-m">What to sow</h3>
      <p>There are two methods you can use to create a grassy strip, natural regeneration or sowing seeds.</p>
      <p>With natural regeneration, you can cultivate the soil and let existing seeds germinate and grow. Things you will need to consider:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>this works best on lighter soils as there is likely to be less of a weed burden</li>
        <li>it is cheaper than sowing seeds, but will take longer to establish</li>
        <li>the mix of species emerging will be ideally suited to conditions on your land</li>
        <li>if you have temporary grassland, you may already have a suitable sward</li>
      </ul>
      <p>When sowing seeds, your choice of grass species will depend on your soil type and cutting regime. It is best if you use a native grass species mix. As a guide, the following species will grow in most conditions:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>timothy</li>
        <li>cocksfoot</li>
        <li>crested dog’s-tail</li>
        <li>red fescue</li>
        <li>smooth-stalked meadow grass</li>
      </ul>
      <p>Species such as timothy and cocksfoot will provide a tussocky grass. These species are effective if you are buffering a stream or ditch, as they reduce the risk of the buffer being breached. Cocksfoot may out-compete finer grasses such as red fescue. If you are interested in providing further benefits for wildlife, consider creating a wildflower and grass mix. Refer to <a href="">Guidance note: Flower-rich margins</a> for information on the best species to use and how to establish.</p>
      <h3 class="govuk-heading-m">When to sow</h3>
      <p>Autumn is the best time to sow, as there should be less competition from weeds. If you are sowing in spring you may need to increase the seed rate.</p>
      <h3 class="govuk-heading-m">How to sow</h3>
      <p>Prepare your seedbed before sowing. For best results, remove any compaction of the topsoil, whilst ensuring you have a flat, fine seedbed. Scatter or shallow-drill the seeds and then roll. Sub-soiling to a depth of 30 cm will help filtration. Avoid doing this if there are historic features present.</p>
      <p>For best results it is best if you avoid:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sowing in wet weather – this will reduce the risk of soil compaction</li>
        <li>using heavy equipment near stream banks as this could collapse the bank</li>
      </ul>

      <h2 class="govuk-heading-l"><a name="ongoing"></a>Ongoing management</h2>
      <p>You will need to undertake regular cutting in the first 12-24 months to control annual weeds. Regular cutting will encourage perennial grasses to tiller. Avoid mowing in wet conditions to prevent soil compaction.</p>
      <p>Once established it is best if you do not cut all of your strips in one go. Cut between one and three metres to the crop edge annually in the summer or autumn. Cutting at this time will avoid disturbing ground nesting birds. You should leave the rest of your strip to grow, only cutting once or twice over a five year period.</p>
      <p>The varied structure you create will benefit wildlife:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>shorter grass will provide drying and feeding areas for grey partridge chicks</li>
        <li>long, rarely cut, tussocky grass will provide shelter and nesting places for birds and insects</li>
        <li>mid length grass is ideal for encouraging brown hares</li>
      </ul>
      <p>When you mow your margins, it is best to remove the cuttings. Leaving them on your strip will smother the grass and add nutrients. You can use a forage harvester to spread the cuttings on the adjacent cropped part of your field. Some trees and shrubs, particularly blackthorn, can invade strips. Scrub is best controlled by cutting.</p>
      <p>You should avoid using your strips for regular vehicle access, storage or livestock movements as this will compact the soil.</p>
      <h3 class="govuk-heading-m">Weed control</h3>
      <p>If weeds such as docks, ragwort or thistles become a problem, you can control them by spot spraying or weed wiping. You should avoid using pesticides. If you have invasive species such as Himalayan balsam or Japanese knotweed refer to <a href="">Guidance note: Controlling invasive non-native species</a>.</p>
      <h3 class="govuk-heading-m">Fertiliser</h3>
      <p>You should avoid applying fertiliser or manure.</p>
      <h3 class="govuk-heading-m">Sediment build up and breaching</h3>
      <p>Sometimes water flow can overwhelm a grassy strip. This reduces the effectiveness of the strip. You will know if this has happened as channels will form in the strip. You can try the following to reduce the breach:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>fill in the channel and widen the strip</li>
        <li>sub-soil after harvest</li>
        <li>leave a rough seedbed</li>
      </ul>
      <p>If you have land next to a watercourse that is at risk from soil erosion consider establishing a cover crop beyond the grassy strip. Refer to <a href="">Guidance note: Winter cover crops</a></p>

      <h2 class="govuk-heading-l"><a name="how"></a>How a successful grassy strip should look</h2>
      <p>You will know when your management is right when you have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>dense grass cover, with a range of heights, from shorter to long</li>
        <li>little or no scrub or weeds such as docks or creeping thistle</li>
        <li>little or no bare ground, ruts or poaching</li>
        <li>little or no soil erosion with channels or gullies absent</li>
      </ul>


        <h2 class="govuk-heading-l"><a name="legal"></a>Legal requirements</h2>
         <ul class="govuk-list govuk-list--bullet">
           <li>you will need <a href="">Environment Agency</a> consent if you want to use herbicides near a waterbody</li>
           <li>your grassy strip should be created beyond the 2 metre <a href="">cross compliance</a> hedgerow buffer</li>
           <li>your grassy strip should be created beyond the 2 metre <a href="">cross compliance</a> watercourse buffer</li>
        </ul>
        

          <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
          <ul class="govuk-list">
            <li><a href="">Arable field margins (opens in a new tab or window)</a> – RSPB</li>
            <li><a href="">Grass margins around arable fields (opens in a new tab or window)</a> – Conservation Evidence</li>
            <li><a href=""><a href="">Protecting our soil, water and air (opens in a new tab or window)</a> – Defra</li>
          </ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}