{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">U19: Manage upland calcareous grassland</h1>
      <p class="govuk-body-l">Use this guidance if you manage rough grazing or moorland on limestone in Northern England. The wildflowers growing in these areas prefer soils rich in the calcium and magnesium found in limestone. Careful grazing management will maintain these limestone grassland habitats. Hardy upland livestock keep coarser grass in check, conserving some of rarest plants in England. If you are interested in creating limestone grassland refer to <a href="">Guidance note: creating species rich grassland</a>.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where can you find limestone grassland in the uplands?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What is limestone grassland in the uplands?</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why managing limestone grassland in the uplands is important</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How do you know when you are successful?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for successful management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="where"></a>Where can you find limestone grassland in the uplands?</h2>
        <p>You may find limestone grassland:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>in the North Pennines, Yorkshire Dales, Cumbria and North Lancashire</li>
          <li>on shallow soil where limestone or lime-rich rocks are close to the surface</li>
          <li>associated with limestone pavements and outcrops, scars and screes</li>
          <li>across extensive areas of open fell especially in the Yorkshire Dales</li>
          <li>alongside <a href="">upland heath</a>, <a href="">blanket bog</a>, <a href="">upland acid grassland</a> and <a href="">scrub and woodland</a></li>
        </ul> 

      <h2 class="govuk-heading-l"><a name="what"></a>What is limestone grassland in the uplands?</h2>

        <p>Limestone grassland is often intermingled with other types of grassland. Where limestone is close to the surface look for:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>blue moor-grass, its prominent blue flowers often dominating the view in the spring</li>
            <li>the <a href="">typical wildflowers</a> of limestone grassland such as dog violet, thyme, rock-rose, fairy flax, harebell and bird’s-foot trefoil</li>
          </ul>

      <h2 class="govuk-heading-l"><a name="why"></a>Why managing limestone grassland in the uplands is important</h2>
      <p>Limestone grassland in the uplands provides nutritional year-round grazing for livestock. Extensive grazing management will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>maintain some of England’s largest areas of flower-rich grassland</li>
        <li>favour plants and insects adapted to the combination of open grassland, thin soils and harsh climate</li>
        <li>provide breeding ground for birds such as skylark and curlew which need a mix of long and short grass</li>
        <li>protect archaeology beneath the ground, find further information in <a href="">Historic features in grassland</a></li>
      </ul>
        
        <h2 class="govuk-heading-l"><a name="how">How do you know when you are successful?</a></h2>

        <h3 class="govuk-heading-m">All year</h3>
        <p>If grazing is right you will see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>patches of short grass the size of a table top separated by areas grazed to ankle height</li>
          <li>flowering sedges and fine-leaved grasses</li>
          <li>at least one third of the vegetation as wildflowers rather than grasses</li>
          <li>exposed rock or bare soil about the size of a hoofprint where insects may be basking on sunny days</li>
          <li>clumps of scrub providing shelter for birds, insects and spiders</li>
        </ul>
        <h3 class="govuk-heading-m">Spring</h3>
        <p>If grazing is right you will see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>early flowering plants such as blue moor-grass, primrose, dog violet, and early purple orchid</li>
          <li>prominent pink flowers of bird’s-eye primrose in damper areas</li>
        </ul>
        <h4 class="govuk-heading-m">Summer</h4>
        <p>If grazing is right you will see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the attractive heads of quaking grass trembling in the wind</li>
          <li>at least four <a href="">typical wildflowers</a> in a patch about one metre square in front of your feet, most obvious may be common rock-rose, birds-foot trefoil, wild thyme, harebell and tormentil</li>
        </ul>
        <h3 class="govuk-heading-m">Autumn</h3>
        <p>If grazing is right you will see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>late flowering plants such as the purple globes of devil’s bit scabious</li>
          <li>longer vegetation in areas of rocky scree, pavement or ledges</li>
        </ul>


        <h2 class="govuk-heading-l"><a name="considerations">Considerations for successful management</a></h2>
        <p>Look at the following issues to help achieve successful management of limestone grassland in the uplands.</p>
        <h3 class="govuk-heading-m">Grazing</h3>
        <p>Your judgement about livestock numbers through the year is crucial to get the best from limestone grassland. Find further information in <a href="">Guidance note: Grassland and livestock grazing</a></p>

        <h4 class="govuk-heading-s">What to look out for</h4>
        <p>You may need to remove livestock when:</p>        
        <ul class="govuk-list govuk-list--bullet">
          <li>the height of the grass sward is less than 3cms</li>
          <li>you see bare ground larger than the size of a hoofprint</li>
          <li>your livestock need routine supplementary energy feed</li>
        </ul>
        <p>Grazing levels may need increasing or changing when:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the height of the grass sward is over 15cms</li>
          <li>large-leaved grasses dominate</li>
          <li>there is more than 1cm of dead plant litter during the growing season</li>
        </ul>
        <h4 class="govuk-heading-s">Tips for success</h4>
        <p>You can consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>using small hardy breeds of cattle, their grazing creates a mix of long and short grass</li>
          <li>moving sheep elsewhere for four to six weeks during summer to help plants to flower and set seed</li>
          <li>using sheep to graze down grass in late autumn and winter</li>
        </ul>

        <h3 class="govuk-heading-m">Tree and scrub management</h3>
        <p>Encourage the growth of scattered clumps of trees and scrub. These will help to attract birds such as black grouse which enjoy a mix of habitats. Where trees and scrub are spreading on to limestone grassland, you may need to increase grazing levels or remove trees and scrub by hand. This will help to conserve the <a href="">typical wildflowers</a> in the grassland. Find further information in <a href="">Guidance note: management of scrub and trees</a>.</p>

        <h4 class="govuk-heading-m">Sowing wildflowers</h4>
        <p>Introduce <a href="">typical wildflowers</a> to boost their numbers. For best results, scatter seed collected from nearby limestone grassland. Scarify before this to create bare ground, helping seeds to germinate. Use the weight of seed to work out how much to scarify. You can also plant plugs grown from seed directly into the ground. This works well for plants which are difficult to germinate.</p>
        <p>Find further information in <a href="">Guidance note: increasing flowers in grassland</a>.</p>

        <h4 class="govuk-heading-m">Manure, fertiliser and lime</h4>
        <p>You should not spread manure or fertiliser. Adding nutrients will help competitive grasses to grow. <a href="">Typical wildflowers</a> will be lost.</p>
       
        <h4 class="govuk-heading-m">Supplementary feeding</h4>
        <p>Avoid creating bare ground and weedy areas caused by supplementary feeding of livestock. Routine use of energy feed suggests that livestock numbers are too high. Move the location of mineral feed sites each time you put feed out.</p>
        
       
        <h4 class="govuk-heading-m">Managing limestone grassland for insects, reptiles and butterflies</h4>
        <p>Insects, reptiles and butterflies need a mix of habitats to complete their life cycle. You can help by managing limestone grassland to have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>flowers which provide nectar for food</li>
          <li>grass at a range of heights for shelter, food and nesting</li>
          <li>fine-leaved grasses and wildflowers, especially foodplants for caterpillars of butterflies such as small heath and northern brown argus</li>
          <li>some scrub for shelter, food and nesting</li>
          <li>small areas of bare ground for nesting, burrowing and basking</li>
        </ul>
        <p>Further information is available in <a href="">Guidance note: managing grassland for insects reptiles and butterflies</a>.</p>

        <h4 class="govuk-heading-m">Managing undesirable plants</h4>
        <p>Control species such as creeping thistle, spear thistle, bracken, tall rushes and broad-leaved dock.  This will provide space for wildflowers to grow and livestock to graze. Find further information in <a href="">Guidance notes: Controlling undesirable species</a> and <a href="">Managing bracken</a> and <a href="">Managing rush</a>.</p>

        <h2 class="govuk-heading-l"><a name="legal"></a>Legal requirements</h2>
        <p>You will need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>obtain consent from the <a href="">Environment Agency</a> if you need to use herbicides near rivers and streams</li>
          <li>consult <a href="">Natural England</a> if altering grazing levels, sowing or planting within a Site of Special Scientific Interest (SSSI)</li>
          <li>consult <a href="">Historic England</a> if undertaking certain activities on a Scheduled Monument</li>
        </ul>
        

          <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
          <ul class="govuk-list">
            <li><a href="">JNCC UK habitats and species upland calcareous grassland (opens in a new tab or window)</a></li>
            <li><a href="">Common standards monitoring guidance for upland habitats – calcareous grassland (upland) (opens in a new tab or window)</a></li>
            <li><a href="">Natural England technical information note TIN083  first edition 12 November 2010 illustrated guide to upland limestone grassland (opens in a new tab or window)</a></li>
            <li><a href="">Buglife advice on managing BAP habitats:  upland calcareous grassland (opens in a new tab or window)</a></li>
          </ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}