{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Provide drinking water for livestock to reduce the amount of sediment in water bodies</h1>

      <p class="govuk-body-l">Provide livestock with troughs, pasture pumps, ram pumps, and their associated pipework as an alternative to drinking from a watercourse.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">How this will benefit the environment</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#install-trough-pipework">Install a trough and associated pipework</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#install-pasture-pump">Install a pasture pump</a>
                <!-- <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#best-results-pump">How to get the best results from the pump</a></li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#winter-pump">What to do with the pump in winter</a></li>
                </ol> -->
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#install-ram-pumps">Install ram pumps</a>
                <!-- <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where-install-ram">Where to install the pump</a></li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-operate-pump">How to operate the pump</a></li>
                </ol> -->
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#keeping-records">Keeping records</a></li>
            </ol>

          </nav>
        </aside>

        <h2 class="govuk-heading-l"><a name="benefits">How this will benefit the environment</a></h2>

        <p>If you provide livestock with an alternative to drinking from watercourses and ponds, it can reduce:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>bank erosion</li>
          <li>sediment pollution</li>
          <li>the faecal contamination of watercourses</li>
        </ul>


        <h2 class="govuk-heading-l"><a name="install-trough-pipework">Install a trough and associated pipework</a></h2>

        <p>Place the trough:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>on hard-standing or on well-drained soil to avoid unnecessary trampling (poaching), erosion or runoff</li>
          <li>away from features through which organic manures and sediment could enter waterways</li>
        </ul>

        <p>Troughs should not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>allow overflow or leaks to contribute to runoff, ponding or erosion in the field</li>
          <li>damage historic or environmental features identified in the HEFER</li>
        </ul>

        <p>Do not lay pipes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>under housing or roof structures</li>
          <li>within 10m of watercourses</li>
          <li>on areas vulnerable to soil erosion as identified on the Farm Environment Record (FER)</li>
          <li>within 6m of historic or archaeological features identified in the HEFER</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="install-pasture-pump">Install a pasture pump</a></h2>

        <p>Pasture pumps can lift water up to around 5m and pump to a distance of up to 50m. One pump can serve 10 to 15 cattle.</p>

        <h3 class="govuk-heading-m"><a name="best-results-pump">How to get the best results from the pump</a></h3>

        <p>It may be necessary to train livestock to use the pump.</p>

        <h3 class="govuk-heading-m"><a name="winter-pump">What to do with the pump in the winter</a></h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>remove the pump and store it during the winter to guard against frost damage</li>
          <li>make sure the pump is available for inspection after it is removed</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="install-ram-pumps">Install ram pumps</a></h2>

        <p>A ram pump uses the power of flowing water to pump a smaller quantity of water at a much higher pressure. Ram pumps do not need fuel or electricity as they run entirely on water. Use a ram pump to pump fresh water from a stream to a head tank or reservoir.</p>

        <h3 class="govuk-heading-m"><a name="where-install-ram">Where to install the pump</a></h3>

        <p>Install the pump on a site with enough hydraulic head and a consistent water supply throughout the year.</p>

        <h3 class="govuk-heading-m"><a name="how-operate-pump">How to operate the pump</a></h3>

        <p>Ram pumps can pump over large distances, but they need a buffer tank at the top of the system. The water entering the pump must have a low sediment content, or the resulting abrasion will lead to excessive wear and tear. Reduce the amount of sediment by using a sedimentation tank.</p>

        <h2 class="govuk-heading-l"><a name="keeping-records">Keeping records</a></h2>

        <p>We may ask you for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any consents or permissions connected with the work</li>
          <li>receipted invoices, or bank statements</li>
          <li>photographs of site before works start</li>
        </ul>

        <p>You should keep:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>photographs of the site during the different stages of construction or contracts</li>
          <li>invoices or other documents confirming the technical specification for the completed works</li>
          <li>photographs of the completed works in place and installed</li>
        </ul>




        </div>
    </div>
  </div>
{% endblock %}