{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A28: Provide winter supplementary feeding</h1>
      <p class="govuk-body-l">Use this guidance to learn how to provide supplementary food for farmland birds in winter. See <a href="">winter bird food plots</a>, <a href="">overwinter stubbles</a> and <a href="">unharvested cereals</a> for other actions to combine with supplementary feeding. Together these actions will provide a range of food sources to feed as many birds as possible through the winter.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 22 April 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why provide winter supplementary feeding?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to feed</a></li>              
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What to feed</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#when">When to feed</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How much to feed</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#howfeed">How to feed</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->  
      
      <h2 class="govuk-heading-l"><a name="why"></a>Why provide winter supplementary feeding?</h2>
        <p>Supplementary feeding is a simple and effective way to increase the winter availability of seed food on your farm. You can supplementary feed on any farm where farmland birds are present.</p>

      <h2 class="govuk-heading-l"><a name="where"></a>Where to feed</h2>
        <p>Different species prefer to feed in different locations. Tree sparrows and yellowhammers like to have cover nearby, such as a hedge. Whereas skylarks choose open sites, away from cover. Corn buntings prefer sites alongside fences or ditches and with vantage points to perch from to scan for predators. You can feed at more than one site to help meet the different needs of several species.</p>
        <p>Suitable feeding areas will include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>winter bird food plots</li>
          <li>overwinter stubbles</li>
          <li>cultivated fallow areas</li>
          <li>bare or sparsely vegetated farm tracks in quiet areas</li>
          <li>areas of hard standing away from farmyards, for example a beet pad</li>
          <li>regularly mown grass margins with short vegetation</li>
        </ul>
        <p>Spread seed on firm, free-draining areas of bare ground or short vegetation, to make it easy for birds to find the seed. If you cannot easily see seeds that you have broadcast then the vegetation is too long. Seed spread in tall vegetation, on soft or wet ground is likely to rot or germinate before it is eaten by birds.</p>
        
    

      <h2 class="govuk-heading-l"><a name="what">What to feed</a></h2>
      <p>Different species prefer feeding on different seeds. Seed choice depends on things like bill size and the seed’s nutritional value. For example, linnets like small seeds such as mustard whereas yellowhammers prefer larger oats or wheat. Choose your seed mix based on the species in your local area, you can either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>target specific species by using a tailored seed mix, see <a href="">supplementary feeding: targeting species</a></li>
        <li>use a general seed mix if none of the target species are present in your local area</li>
        <li>create your own seed mix</li>
      </ul>

      <h2 class="govuk-heading-l"><a name="when"></a>When to feed</h2>
      <p>The best time to start feeding is when other <a href="">seed sources</a> on your farm are starting to become depleted. This will vary and depends on the amount of natural and sown seed available in the autumn, the number of birds and how harsh the weather is. As a guide, start feeding from December through to April.</p>
     
      
      <h2 class="govuk-heading-l"><a name="how">How much to feed</a></h2>
      
      <p>The aim is to always have food available at your feeding sites. You should not leave a site for more than a day without food. If you have more than one feeding site, replace seed at each site on a different day, to make sure there is always seed available. </p>
      
      <p>To start with, feed around 25kg of seed per week at each feeding site. Adjust the amount of seed to match that needed by the birds. Each feeding situation will be different, so it is best to check food consumption and replace seed when most of it has been eaten.</p>
      <p>Increase the frequency or the volume of feeding if needed. There should not be large amounts of seed left at the end of each week. If seed is left uneaten, lower the amount of seed to reduce waste and consumption by deer, rats and pigeons.</p>

      <h2 class="govuk-heading-l"><a name="howfeed">How to feed</a></h2>
      
      <p>Broadcast seed either by hand or using equipment, such as a well-cleaned slug pellet applicator or purpose built spreader. Aim for an even spread of seed. It is important not to spread seed too thickly, as this may encourage diseases and parasites harmful to farmland birds, as well as pests such as rats.</p>
      <p>You can help maintain good hygiene at your supplementary feeding sites by:</p> 
      <ul class="govuk-list govuk-list--bullet">
        <li>only spinning or scattering seed, to avoid creating piles of seed</li>
        <li>moving feeding sites every year, to reduce pathogen build up</li>
        <li>stopping feeding for at least a week, if there is a visible build-up of uneaten food</li>
      </ul>
      <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
      <ul class="govuk-list">
        <li><a href="">Supplementary feeding (opens in a new tab or window)</a> – Conservation Evidence</li>
        <li>Allan J. Perkins, Guy Anderson & Jeremy D. Wilson (2007) Seed food preferences of granivorous farmland passerines, Bird Study, 54:1, 46-53</li>
        <li>Siriwardena GM and Stevens DK (2004) Effects of habitat on the use of supplementary food by farmland birds in winter, Ibis, 146, 144-154</li>
        <li>Siriwardena GM, Stevens DK, Anderson GQA, Vickery JA, Calbrade NA and Dodd S (2007) The effect of supplementary winter seed food on breeding populations of farmland birds: evidence from two largescale experiments, Journal of Applied Ecology, 920–932 </li>
        <li>Henderson, Siriwardena GM, Woodward I and Norfolk D (2014) Monitoring the use of the ‘Supplementary feeding in winter for farmland birds’ options within Environmental Stewardship, BTO</li>
      </ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}