{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</h1>

      <p class="govuk-body-l">Find out how to reduce ammonia and greenhouse gas emissions by using lower emission fertilisers on your land.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#effects">The effects of ammonia emisssions</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">Benefits of using lower emission fertilisers</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How to use lower emission fertilisers</a></li>
            </ol>

          </nav>
        </aside>

        <h2 class="govuk-heading-l"><a name="effects">The effects of ammonia emissions</a></h2>

        <p>Ammonia is released when nitrogen from fertilisers, slurries and manures comes into contact with air. When mixed with other air pollutants, such as diesel fumes, ammonia forms tiny toxic particles which lead to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>deadly health problems such as cardiovascular and respiratory disease</li>
          <li>poor air quality</li>
          <li>soil and water acidification</li>
          <li>the growth of rough grasses and nettles which stop other species growing</li>
        </ul>

        <p>Agriculture accounts for 88% of UK ammonia emissions.</p>

        <h2 class="govuk-heading-l"><a name="benefits">Benefits of using lower emission fertilisers</a></h2>

        <p>When using urea-based fertilisers, up to 45% of nitrogen can be lost as ammonia, depending on conditions such as weather and soil type. In comparison, when using ammonium nitrate (AN) fertilisers, typically up to 2% of nitrogen is lost as ammonia.</p>

        <p>Switching from urea-based fertiliser to AN fertiliser can reduce your ammonia emissions and the harmful effects they have.</p>

        <p>While AN can be more expensive, the net cost difference may be negligible due to lower nitrogen losses.</p>

        <h2 class="govuk-heading-l"><a name="how">How to use lower emission fertilisers</a></h2>
        <p>All applications of manufactured nitrogen fertilisers should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be based on a nutrient management plan</li>
          <li>integrate fertiliser and manure supply</li>
          <li>take into account your soil management plan</li>
        </ul>

        <p>You should regularly maintain, calibrate and test all application equipment.</p>

        <p>Only apply AN fertiliser:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>according to crop requirement</li>
          <li>in cool and moist conditions</li>
        </ul>

        <p>Do not use AN fertiliser when rainfall is expected as rain can increase nitrogen loss.</p>
      </div>
    </div>
  </div>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}