{% extends "layout.html" %}

{% block pageTitle %}
  Add land to your application
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Add land to your agreement
            </h1>
          </legend>
          <p class="govuk-body-m">Select the fields parcels which you want to add to your ELM agreement, or <a href="#">upload a plan</a> from your land management software.</p>
          <span id="waste-hint" class="govuk-hint">
            Select all fields .
          </span>
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="SK 3957 1585" name="SK 3957 1585" type="checkbox" value="SK 3957 1585">
              <label class="govuk-label govuk-checkboxes__label" for="SK 3957 1585">
                SK 3957 1585
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="SK 3957 1586" name="SK 3957 1586" type="checkbox" value="SK 3957 1586">
              <label class="govuk-label govuk-checkboxes__label" for="SK 3957 1586">
                SK 3957 1586
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="SK 3957 1587" name="SK 3957 1587" type="checkbox" value="SK 3957 1587">
              <label class="govuk-label govuk-checkboxes__label" for="SK 3957 1587">
                SK 3957 1587
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="SK 3957 1588" name="SK 3957 1588" type="checkbox" value="SK 3957 1585">
              <label class="govuk-label govuk-checkboxes__label" for="SK 3957 1588">
                SK 3957 1588
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="SK 3957 1589" name="SK 3957 1589" type="checkbox" value="SK 3957 1586">
              <label class="govuk-label govuk-checkboxes__label" for="SK 3957 1589">
                SK 3957 1589
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="SK 3957 1590" name="SK 3957 1590" type="checkbox" value="SK 3957 1587">
              <label class="govuk-label govuk-checkboxes__label" for="SK 3957 1590">
                SK 3957 1590
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-groupp">
        <a href="select-parcel" class="govuk-button">Continue</a>
      </div>
      <div class="govuk-form-group">
        <p><a href="#">Resend my national pilot code</a></p>       
      </div>
      <div class="govuk-form-group">
        <p><a href="#">Get help with this page</a></p>
      </div>

    </div>
  </div>
{% endblock %}
