{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}
{% block content %}
<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Your land and activities</h1>

        <h2 class="govuk-heading-m">Wildlife conservation</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <span class="govuk-body govuk-!-font-weight-bold">SK 3957 1585</span>
            </dt>
            <dd class="govuk-summary-list__value">
                Purple moor grass and rush pastures
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> from agreement</span>
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h2 class="govuk-heading-m">
                Add more land and activities to your agreement?
              </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue",
          href: "/apply/add-supporting-docs"
        }) }}
      </div>
    </div>
  </div>
</main>
{% endblock %}
