{% extends "layout.html" %}

{% block pageTitle %}
Customise options
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Customise options</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-7">Provide livestock drinking water as alternative to drinking from watercourse to reduce deposition of sediment in sensitive water bodies</span>

    <form class="form" action="/tier1-v3/actions-answers?drinking-water[selected]=true" method="post">

      <div class="govuk-form-group">

        {% for action in data['customise-drinking-water'] %}

        {% if action == "Pasture pumps and associated pipework" %}
        <label class="govuk-label govuk-label--m">
          How many pasture pumps do you want to install?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="pasture-pump-amount" name="drinking-water[actions][Pasture pumps and associated pipework][amount]" type="text" aria-describedby="pasture-pump-amount-hint" pattern="[0-9]*" inputmode="numeric"
          spellcheck="false" value="{{ data['drinking-water']['actions']['Pasture pumps and associated pipework']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">pumps</span>
        {% endif %}

        {% if action == "Ram pumps and associated pipework" %}
        <label class="govuk-label govuk-label--m">
          How many ram pumps do you want to install?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="ram-pump-amount" name="drinking-water[actions][Ram pumps and associated pipework][amount]" type="text" aria-describedby="ram-pump-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['drinking-water']['actions']['Ram pumps and associated pipework']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">pumps</span>
        {% endif %}

        {% if action == "Livestock troughs" %}
        <label class="govuk-label govuk-label--m">
          How many livestock troughs do you want to install?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="trough-amount" name="drinking-water[actions][Livestock troughs][amount]" type="text" aria-describedby="trough-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['drinking-water']['actions']['Livestock troughs']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">troughs</span>
        {% endif %}

        {% if action == "Pipework associated with livestock troughs" %}
        <label class="govuk-label govuk-label--m">
          How much pipework associated with livestock troughs do you want to lay?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="trough-pipework-amount" name="drinking-water[actions][Pipework associated with livestock troughs][amount]" type="text" aria-describedby="trough-pipework-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['drinking-water']['actions']['Pipework associated with livestock troughs']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">metres</span>
        {% endif %}

        {% endfor %}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
