{% extends "layout.html" %}

{% block pageTitle %}
Customise options
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Customise options</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-7">Whole farm reduction in nutrient use / nutrient cap to reduce catchment nutrient loads</span>

    <form class="form" action="/tier1-v3/actions-answers?nutrients[selected]=true" method="post">

      <div class="govuk-form-group">

        {% for action in data['customise-nutrients'] %}

        {% if action == "12m to 24m watercourse buffer strip on cultivated land" %}
        <label class="govuk-label govuk-label--m">
          How much cultivated land do you want a 12m to 24m watercourse buffer strip on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="watercourse-buffer-strip-amount" name="nutrients[actions][12m to 24m watercourse buffer strip on cultivated land][amount]" type="text" aria-describedby="watercourse-buffer-strip-amount-hint" pattern="[0-9]*" inputmode="numeric"
          spellcheck="false" value="{{ data['nutrients']['actions']['12m to 24m watercourse buffer strip on cultivated land']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "4m to 6m buffer strip on cultivated land" %}
        <label class="govuk-label govuk-label--m">
          How much cultivated land do you want to create a 4m to 6m buffer strip on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="cultivated-buffer-strip-amount" name="nutrients[actions][4m to 6m buffer strip on cultivated land][amount]" type="text" aria-describedby="cultivated-buffer-strip-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['4m to 6m buffer strip on cultivated land']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "4m to 6m buffer strip on intensive grassland" %}
        <label class="govuk-label govuk-label--m">
          How much intensive grassland do you want to create a 4m to 6m buffer strip on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="intensive-buffer-amount" name="nutrients[actions][4m to 6m buffer strip on intensive grassland][amount]" type="text" aria-describedby="intensive-buffer-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['4m to 6m buffer strip on intensive grassland']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Arable reversion to grassland with low fertiliser input" %}
        <label class="govuk-label govuk-label--m">
          How much land would you like to do arable reversion to grassland with low fertiliser input on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="arable-reversion-amount" name="nutrients[actions][Arable reversion to grassland with low fertiliser input][amount]" type="text"
          aria-describedby="arable-reversion-amount-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Arable reversion to grassland with low fertiliser input']['amount'] }}"><span
          class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Enhanced management of maize crops" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to enhance management of maize crops on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="maize-crops-amount" name="nutrients[actions][Enhanced management of maize crops][amount]" type="text" aria-describedby="maize-crops-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Enhanced management of maize crops']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Flood mitigation on arable reversion to grassland" %}
        <label class="govuk-label govuk-label--m">
          How much arable reversion to grassland do you want to mitigate flooding on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="flood-mitigation-arable-amount" name="nutrients[actions][Flood mitigation on arable reversion to grassland][amount]" type="text" aria-describedby="flood-mitigation-arable-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Flood mitigation on arable reversion to grassland']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Flood mitigation on permanent grassland" %}
        <label class="govuk-label govuk-label--m">
          How much permanent grassland do you want to mitigate flooding on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="flood-mitigation-grassland-amount" name="nutrients[actions][Flood mitigation on permanent grassland][amount]" type="text" aria-describedby="flood-mitigation-grassland-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Flood mitigation on permanent grassland']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "In-field grass strips" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want in-field grass strips on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="grass-strips-amount" name="nutrients[actions][In-field grass strips][amount]" type="text" aria-describedby="grass-strips-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['In-field grass strips']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Making space for water" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to make space for water on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="water-space-amount" name="nutrients[actions][Making space for water][amount]" type="text" aria-describedby="water-space-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Making space for water']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Management of intensive grassland adjacent to a watercourse" %}
        <label class="govuk-label govuk-label--m">
          How much land adjacent to a watercourse do you want to manage intensive grassland on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="adjacent-grassland-amount" name="nutrients[actions][Management of intensive grassland adjacent to a watercourse][amount]" type="text" aria-describedby="adjacent-grassland-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Management of intensive grassland adjacent to a watercourse']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Nil fertiliser supplement" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want a nil fertiliser supplement on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="nil-fertiliser-amount" name="nutrients[actions][Nil fertiliser supplement][amount]" type="text" aria-describedby="nil-fertiliser-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Nil fertiliser supplement']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Riparian management strip" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want a riparian management strip on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="riparian-amount" name="nutrients[actions][Riparian management strip][amount]" type="text" aria-describedby="riparian-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Riparian management strip']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Seasonal livestock removal on grassland in SDAs next to streams, rivers and lakes" %}
        <label class="govuk-label govuk-label--m">
          How much grassland in SDAs next to streams, rivers and lakes do you want to seasonally remove livestock on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="seasonal-livestock-grassland-amount" name="nutrients[actions][Seasonal livestock removal on grassland in SDAs next to streams, rivers and lakes][amount]" type="text" aria-describedby="seasonal-livestock-grassland-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Seasonal livestock removal on grassland in SDAs next to streams, rivers and lakes']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Seasonal livestock removal on intensive grassland" %}
        <label class="govuk-label govuk-label--m">
          How much intensive grassland do you want to seasonally remove livestock on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="seasonal-livestock-intensive-amount" name="nutrients[actions][Seasonal livestock removal on intensive grassland][amount]" type="text" aria-describedby="seasonal-livestock-intensive-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Seasonal livestock removal on intensive grassland']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Very low nitrogen inputs to groundwaters" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want very low nitrogen input to groundwaters on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="low-nitrogen-amount" name="nutrients[actions][Very low nitrogen inputs to groundwaters][amount]" type="text" aria-describedby="low-nitrogen-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Very low nitrogen inputs to groundwaters']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% if action == "Winter cover crops" %}
        <label class="govuk-label govuk-label--m">
          How much land do you want to plant winter cover crops on?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-7" id="winter-cover-crops-amount" name="nutrients[actions][Winter cover crops][amount]" type="text" aria-describedby="winter-cover-crops-amount-hint" pattern="[0-9]*"
          inputmode="numeric" spellcheck="false" value="{{ data['nutrients']['actions']['Winter cover crops']['amount'] }}"><span class="govuk-body govuk-!-margin-left-1">hectares</span>
        {% endif %}

        {% endfor %}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
