{% extends "layout.html" %}

{% block pageTitle %}
Site of special scientific interest (SSSI)
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/tier1-v3/standards/check#land" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="SSSI-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Does your holding contain an SSSI?
                </h1>
              </legend>
              <span id="changed-name-hint" class="govuk-hint">
                SSSI may exist wholely or in part within your holding
              </span>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sssi-present-no" name="SSSI-present" type="radio" value="None" {{ checked("SSSI-present", "None") }}>
                  <label class="govuk-label govuk-radios__label" for="sssi-present-no">
                    No
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sssi-present-yes" name="SSSI-present" type="radio" value="SSSI" {{ checked("SSSI-present", "SSSI") }}>
                  <label class="govuk-label govuk-radios__label" for="sssi-present-yes">
                    Yes
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Update</button>
        </div>
      </form>
  </div>
</div>

{% endblock %}
