{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

<!--calculations-->
{% set fertilisersTotal = data['fertilisers']['multiplier'] * data['fertilisers']['amount'] %}
{% set spreadingTotal = data['fertiliser-spreading']['multiplier'] * data['fertiliser-spreading']['amount'] %}
{% set tillTotal = data['no-till']['multiplier'] * data['no-till']['amount'] %}
{% set nutrientsTotal = data['nutrients']['multiplier'] * data['nutrients']['amount'] %}
{% set coverTotal = data['cover-crops']['multiplier'] * data['cover-crops']['amount'] %}
{% set treeTotal = data['tree-belts']['multiplier'] * data['tree-belts']['amount'] %}
{% set agroforestryTotal = data['agroforestry']['multiplier'] * data['agroforestry']['amount'] %}
{% set windTotal = data['wind-erosion']['multiplier'] * data['wind-erosion']['amount'] %}
{% set grasslandTotal = data['create-grassland']['multiplier'] * data['create-grassland']['amount'] %}
{% set flowerTotal = data['flower-habitat']['multiplier'] * data['flower-habitat']['amount'] %}
{% set cerealTotal = data['low-input-cereal']['multiplier'] * data['low-input-cereal']['amount'] %}
{% set unharvestedTotal = data['unharvested-cereal']['multiplier'] * data['unharvested-cereal']['amount'] %}
{% set beetleTotal = data['beetle-bank']['multiplier'] * data['beetle-bank']['amount'] %}
{% set cultivatedTotal = data['cultivated-plots']['multiplier'] * data['cultivated-plots']['amount'] %}
{% set grassyTotal = data['grassy-strips']['multiplier'] * data['grassy-strips']['amount'] %}
{% set nestingTotal = data['nesting-plots']['multiplier'] * data['nesting-plots']['amount'] %}
{% set winterTotal = data['winter-bird-food']['multiplier'] * data['winter-bird-food']['amount'] %}
{% set supplementaryTotal = data['winter-supplementary']['multiplier'] * data['winter-supplementary']['amount'] %}
{% set bogTotal = data['bog-grazing']['multiplier'] * data['bog-grazing']['amount'] %}
{% set fencingTotal = data['fencing']['multiplier'] * data['fencing']['amount'] %}
{% set waterTotal = data['drinking-water']['multiplier'] * data['drinking-water']['amount'] %}
{% set manureTotal = data['manure']['multiplier'] * data['manure']['amount'] %}
{% set chalkTotal = data['chalk-limestone-grasslands']['multiplier'] * data['chalk-limestone-grasslands']['amount'] %}
{% set purpleTotal = data['purple-moor-grass']['multiplier'] * data['purple-moor-grass']['amount'] %}
{% set calcareousTotal = data['calcareous-grassland']['multiplier'] * data['calcareous-grassland']['amount'] %}
{% set soilTotal = data['bare-soil']['multiplier'] * data['bare-soil']['amount'] %}
{% set grassTotal = data['grass-strips']['multiplier'] * data['grass-strips']['amount'] %}
{% set canopyTotal = data['canopy-cover']['multiplier'] * data['canopy-cover']['amount'] %}
{% set deadwoodTotal = data['deadwood']['multiplier'] * data['deadwood']['amount'] %}

{% set fullTotal = fertilisersTotal + spreadingTotal + tillTotal + nutrientsTotal + coverTotal + treeTotal + agroforestryTotal + windTotal + grasslandTotal + flowerTotal + cerealTotal + unharvestedTotal + beetleTotal + cultivatedTotal + grassyTotal + nestingTotal + winterTotal + supplementaryTotal + bogTotal + fencingTotal + waterTotal + manureTotal + chalkTotal + purpleTotal + calcareousTotal + soilTotal + grassTotal + canopyTotal + deadwoodTotal %}
{% set monthlyTotal = fullTotal / 12 %}

<!--reference number-->
<!--{% set refNumberName = data['name-on-the-account']|replace(' ', '') %}-->
{% set refNumber = "ELMAgree" + refNumberName|truncate(5, true, "") + 'P00' + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Agreement confirmed</h1>
        <div class="govuk-panel__body">
          Your reference number is<br><strong>{{ refNumber }}</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You will get your first monthly payment of <!-- do UR to find out if bold font is needed here  -->£{{ monthlyTotal| toFixed(2) | commafy }} before <span id="date"></span>.</p>
      <p>We will let you know if we need any more information.</p>
      <p>To speak to someone about your agreement you must <a href="https://www.gov.uk/government/organisations/rural-payments-agency">contact the Rural Payments Agency</a>. <!-- on 03459 335577 or send an email to <a href="mailto: helpline@defra.gov.uk">helpline@defra.gov.uk</a> quoting your reference <strong>{{ refNumber }}</strong>.--></p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
