{% extends "layout.html" %}

{% block pageTitle %}
Your agreement
{% endblock %}

<!--calculations-->
{% set fertilisersTotal = data['fertilisers']['multiplier'] * data['fertilisers']['amount'] %}
{% set spreadingTotal = data['fertiliser-spreading']['multiplier'] * data['fertiliser-spreading']['amount'] %}
{% set tillTotal = data['no-till']['multiplier'] * data['no-till']['amount'] %}
{% set nutrientsTotal = data['nutrients']['multiplier'] * data['nutrients']['amount'] %}
{% set coverTotal = data['cover-crops']['multiplier'] * data['cover-crops']['amount'] %}
{% set treeTotal = data['tree-belts']['multiplier'] * data['tree-belts']['amount'] %}
{% set agroforestryTotal = data['agroforestry']['multiplier'] * data['agroforestry']['amount'] %}
{% set windTotal = data['wind-erosion']['multiplier'] * data['wind-erosion']['amount'] %}
{% set grasslandTotal = data['create-grassland']['multiplier'] * data['create-grassland']['amount'] %}
{% set flowerTotal = data['flower-habitat']['multiplier'] * data['flower-habitat']['amount'] %}
{% set cerealTotal = data['low-input-cereal']['multiplier'] * data['low-input-cereal']['amount'] %}
{% set unharvestedTotal = data['unharvested-cereal']['multiplier'] * data['unharvested-cereal']['amount'] %}
{% set beetleTotal = data['beetle-bank']['multiplier'] * data['beetle-bank']['amount'] %}
{% set cultivatedTotal = data['cultivated-plots']['multiplier'] * data['cultivated-plots']['amount'] %}
{% set grassyTotal = data['grassy-strips']['multiplier'] * data['grassy-strips']['amount'] %}
{% set nestingTotal = data['nesting-plots']['multiplier'] * data['nesting-plots']['amount'] %}
{% set winterTotal = data['winter-bird-food']['multiplier'] * data['winter-bird-food']['amount'] %}
{% set supplementaryTotal = data['winter-supplementary']['multiplier'] * data['winter-supplementary']['amount'] %}
{% set bogTotal = data['bog-grazing']['multiplier'] * data['bog-grazing']['amount'] %}
{% set fencingTotal = data['fencing']['multiplier'] * data['fencing']['amount'] %}
{% set waterTotal = data['drinking-water']['multiplier'] * data['drinking-water']['amount'] %}
{% set manureTotal = data['manure']['multiplier'] * data['manure']['amount'] %}
{% set chalkTotal = data['chalk-limestone-grasslands']['multiplier'] * data['chalk-limestone-grasslands']['amount'] %}
{% set purpleTotal = data['purple-moor-grass']['multiplier'] * data['purple-moor-grass']['amount'] %}
{% set calcareousTotal = data['calcareous-grassland']['multiplier'] * data['calcareous-grassland']['amount'] %}
{% set soilTotal = data['bare-soil']['multiplier'] * data['bare-soil']['amount'] %}
{% set grassTotal = data['grass-strips']['multiplier'] * data['grass-strips']['amount'] %}
{% set canopyTotal = data['canopy-cover']['multiplier'] * data['canopy-cover']['amount'] %}
{% set deadwoodTotal = data['deadwood']['multiplier'] * data['deadwood']['amount'] %}

{% set fullTotal = fertilisersTotal + spreadingTotal + tillTotal + nutrientsTotal + coverTotal + treeTotal + agroforestryTotal + windTotal + grasslandTotal + flowerTotal + cerealTotal + unharvestedTotal + beetleTotal + cultivatedTotal + grassyTotal + nestingTotal + winterTotal + supplementaryTotal + bogTotal + fencingTotal + waterTotal + manureTotal + chalkTotal + purpleTotal + calcareousTotal + soilTotal + grassTotal + canopyTotal + deadwoodTotal %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Your agreement</h1>

    <div class="govuk-inset-text govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Checks completed successfully</h2>
      Your chosen option(s) are appropriate for the land registration information we have on record for your business.
    </div>

    <dl class="govuk-summary-list">

      {% if data['fertilisers']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['fertilisers']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ fertilisersTotal | toFixed(2) | commafy }}</strong> ({{ data['fertilisers']['amount'] | commafy }} {{ data['fertilisers']['unit'] }} at {{ data['fertilisers']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['fertiliser-spreading']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['fertiliser-spreading']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ spreadingTotal | toFixed(2) | commafy }}</strong> ({{ data['fertiliser-spreading']['amount'] | commafy }} {{ data['fertiliser-spreading']['unit'] }} at {{ data['fertiliser-spreading']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['no-till']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['no-till']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ tillTotal | toFixed(2) | commafy }}</strong> ({{ data['no-till']['amount'] | commafy }} {{ data['no-till']['unit'] }} at {{ data['no-till']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['nutrients']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['nutrients']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ nutrientsTotal | toFixed(2) | commafy }}</strong> ({{ data['nutrients']['amount'] | commafy }} {{ data['nutrients']['unit'] }} at {{ data['nutrients']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['cover-crops']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['cover-crops']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ coverTotal | toFixed(2) | commafy }}</strong> ({{ data['cover-crops']['amount'] | commafy }} {{ data['cover-crops']['unit'] }} at {{ data['cover-crops']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['tree-belts']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['tree-belts']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ treeTotal | toFixed(2) | commafy }}</strong> ({{ data['tree-belts']['amount'] | commafy }} {{ data['tree-belts']['unit'] }} at {{ data['tree-belts']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['agroforestry']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['agroforestry']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ agroforestryTotal | toFixed(2) | commafy }}</strong> ({{ data['agroforestry']['amount'] | commafy }} {{ data['agroforestry']['unit'] }} at {{ data['agroforestry']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['wind-erosion']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['wind-erosion']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ windTotal | toFixed(2) | commafy }}</strong> ({{ data['wind-erosion']['amount'] | commafy }} {{ data['wind-erosion']['unit'] }} at {{ data['wind-erosion']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['create-grassland']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['create-grassland']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ grasslandTotal | toFixed(2) | commafy }}</strong> ({{ data['create-grassland']['amount'] | commafy }} {{ data['create-grassland']['unit'] }} at {{ data['create-grassland']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['flower-habitat']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['flower-habitat']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ flowerTotal | toFixed(2) | commafy }}</strong> ({{ data['flower-habitat']['amount'] | commafy }} {{ data['flower-habitat']['unit'] }} at {{ data['flower-habitat']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['low-input-cereal']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['low-input-cereal']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ cerealTotal | toFixed(2) | commafy }}</strong> ({{ data['low-input-cereal']['amount'] | commafy }} {{ data['low-input-cereal']['unit'] }} at {{ data['low-input-cereal']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['unharvested-cereal']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['unharvested-cereal']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ unharvestedTotal | toFixed(2) | commafy }}</strong> ({{ data['unharvested-cereal']['amount'] | commafy }} {{ data['unharvested-cereal']['unit'] }} at {{ data['unharvested-cereal']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['beetle-bank']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['beetle-bank']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ beetleTotal | toFixed(2) | commafy }}</strong> ({{ data['beetle-bank']['amount'] | commafy }} {{ data['beetle-bank']['unit'] }} at {{ data['beetle-bank']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['cultivated-plots']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['cultivated-plots']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ cultivatedTotal | toFixed(2) | commafy }}</strong> ({{ data['cultivated-plots']['amount'] | commafy }} {{ data['cultivated-plots']['unit'] }} at {{ data['cultivated-plots']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['grassy-strips']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['grassy-strips']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ grassyTotal | toFixed(2) | commafy }}</strong> ({{ data['grassy-strips']['amount'] | commafy }} {{ data['grassy-strips']['unit'] }} at {{ data['grassy-strips']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['nesting-plots']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['nesting-plots']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ nestingTotal | toFixed(2) | commafy }}</strong> ({{ data['nesting-plots']['amount'] | commafy }} {{ data['nesting-plots']['unit'] }} at {{ data['nesting-plots']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['winter-bird-food']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['winter-bird-food']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ winterTotal | toFixed(2) | commafy }}</strong> ({{ data['winter-bird-food']['amount'] | commafy }} {{ data['winter-bird-food']['unit'] }} at {{ data['winter-bird-food']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['winter-supplementary']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['winter-supplementary']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ supplementaryTotal | toFixed(2) | commafy }}</strong> ({{ data['winter-supplementary']['amount'] | commafy }} {{ data['winter-supplementary']['unit'] }} at {{ data['winter-supplementary']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['bog-grazing']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['bog-grazing']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ bogTotal | toFixed(2) | commafy }}</strong> ({{ data['bog-grazing']['amount'] | commafy }} {{ data['bog-grazing']['unit'] }} at {{ data['bog-grazing']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['fencing']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['fencing']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ fencingTotal | toFixed(2) | commafy }}</strong> ({{ data['fencing']['amount'] | commafy }} {{ data['fencing']['unit'] }} at {{ data['fencing']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['drinking-water']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['drinking-water']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ waterTotal | toFixed(2) | commafy }}</strong> ({{ data['drinking-water']['amount'] | commafy }} {{ data['drinking-water']['unit'] }} at {{ data['drinking-water']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['manure']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['manure']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ manureTotal | toFixed(2) | commafy }}</strong> ({{ data['manure']['amount'] | commafy }} {{ data['manure']['unit'] }} at {{ data['manure']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['chalk-limestone-grasslands']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['chalk-limestone-grasslands']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ chalkTotal | toFixed(2) | commafy }}</strong> ({{ data['chalk-limestone-grasslands']['amount'] | commafy }} {{ data['chalk-limestone-grasslands']['unit'] }} at {{ data['chalk-limestone-grasslands']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['purple-moor-grass']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['purple-moor-grass']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ purpleTotal | toFixed(2) | commafy }}</strong> ({{ data['purple-moor-grass']['amount'] | commafy }} {{ data['purple-moor-grass']['unit'] }} at {{ data['purple-moor-grass']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['calcareous-grassland']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['calcareous-grassland']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ calcareousTotal | toFixed(2) | commafy }}</strong> ({{ data['calcareous-grassland']['amount'] | commafy }} {{ data['calcareous-grassland']['unit'] }} at {{ data['calcareous-grassland']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['bare-soil']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['bare-soil']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ soilTotal | toFixed(2) | commafy }}</strong> ({{ data['bare-soil']['amount'] | commafy }} {{ data['bare-soil']['unit'] }} at {{ data['bare-soil']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['grass-strips']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['grass-strips']['description'] }}</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ grassTotal | toFixed(2) | commafy }}</strong> ({{ data['grass-strips']['amount'] | commafy }} {{ data['grass-strips']['unit'] }} at {{ data['grass-strips']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['canopy-cover']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['canopy-cover']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ canopyTotal | toFixed(2) | commafy }}</strong> ({{ data['canopy-cover']['amount'] | commafy }} {{ data['canopy-cover']['unit'] }} at {{ data['canopy-cover']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      {% if data['deadwood']['amount'] != 0 %}
      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">{{ data['deadwood']['description'] }}<br><br>(requires a site visit)</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ deadwoodTotal | toFixed(2) | commafy }}</strong> ({{ data['deadwood']['amount'] | commafy }} {{ data['deadwood']['unit'] }} at {{ data['deadwood']['rate'] }})</dd>
      </div>
      {% else %}{% endif %}

      <div class="govuk-summary-list__row"><dt class="govuk-summary-list__key govuk-!-width-two-thirds">Total payment</dt>
        <dd class="govuk-summary-list__value"><strong>£{{ fullTotal | toFixed(2) | commafy }}</strong></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

    </dl>


    <h2 class="govuk-heading-l govuk-!-margin-top-9">Consent to your agreement</h2>

    <!-- <p>You may need to provide evidence to support the actions in your agreement.</p> -->
    <p>By consenting you agree that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the information you’ve provided is correct</li>
      <li>if asked, you will provide evidence to support your chosen actions</li>
      <li>you have read and agreed to <a href=“#”>ELM terms and conditions</a></li>
      {% if (data['canopy-cover']['amount'] > 0) or (data['deadwood']['amount'] > 0) or (data['agroforestry']['amount'] > 0) or (data['tree-belts']['amount'] > 0) %}
      <li>you will arrange a site visit</li>
      {% endif %}
    </ul>

    <form action="/tier1-v3/application-complete" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <div class="govuk-form-group govuk-!-margin-bottom-9">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="agreement-consent" name="agreement-consent" type="checkbox" value="consent-given">
            <label class="govuk-label govuk-checkboxes__label" for="agreement-consent">
              {% if (data['canopy-cover']['amount'] > 0) or (data['deadwood']['amount'] > 0) or (data['agroforestry']['amount'] > 0) or (data['tree-belts']['amount'] > 0) %}
              I consent <span class="govuk-visually-hidden"> that the information I've provided is correct, that if asked, I will provide evidence to support my chosen actions and that I will arrange a site visit.</span>
              {% else %}
              I consent <span class="govuk-visually-hidden"> that the information I've provided is correct and that if asked I will provide evidence to support my chosen actions.</span>
              {% endif %}
            </label>
          </div>
        </div>
      </div>

      {{ govukButton({
          text: "Submit your agreement",
          preventDoubleClick: true
        }) }}

    </form>

  </div>
</div>
{% endblock %}
