{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 3
{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">Scenario</span>
          <h1 class="govuk-heading-xl">
            4. Sign-up
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="/public/images/tier1-v2/step-4.jpg" alt="Sign-up" style="width: 100%; margin-bottom: 30px">
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">
            You decide to sign-up, check your land details are correct and begin your application.
          </p>
          <p class="govuk-body-l"><a href="step-5.html" class="govuk-link">Next</a></p>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
