{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sign in using Government Gateway
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="user-ID">Government Gateway user ID
          <span class="govuk-hint">This could be up to 12 characters.</span>
        </label>

        <input class="govuk-input govuk-!-width-one-half" id="user-ID" name="user-ID" type="text" value="">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="password">Password</label>
        <input class="govuk-input govuk-!-width-one-half" id="password" name="password" type="password" value="">
      </div>
      <div class="govuk-form-groupp">
        <a href="/apply" class="govuk-button">Sign in</a>
      </div>
      <div class="govuk-form-group">
        <p><a href="#">Create sign in details</a></p>
      </div>
      <div class="govuk-form-group">
      <h2 class="govuk-heading-l">Problems signing in</h2>
        <ul class="govuk-list">
          <li><a href="#">I have forgotten password</a></li>
          <li><a href="#">I have forgotten my Government Gateway user ID</a></li>
        </ul>
      </div>
      <div class="govuk-form-group">
        <p><a href="#">Get help with this page</a></p>
      </div>

    </div>
  </div>
{% endblock %}
