{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="another-type">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-m">Your farm</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Main farming
             </dt>
             <dd class="govuk-summary-list__value">
               {{ data['farm-type'] }}
             </dd>
               <dd class="govuk-summary-list__actions">
                   <a class="govuk-link" href="farm-type">
                     Change<span class="govuk-visually-hidden"> farming type</span>
                     </a>
               </dd>
           </div>

           {% if data['farm-type-2'] != undefined %}
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Other farming
             </dt>
             <dd class="govuk-summary-list__value">
               {{ data['farm-type-2'] }}
             </dd>
               <dd class="govuk-summary-list__actions">
                   <a class="govuk-link" href="farm-type-2">
                     Change<span class="govuk-visually-hidden"> other farming type</span>
                     </a>
               </dd>
           </div>

           {% else %}
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Other farming
             </dt>
             <dd class="govuk-summary-list__value">
               none
             </dd>
               <dd class="govuk-summary-list__actions">
                   <a class="govuk-link" href="farm-type-2">
                     Change<span class="govuk-visually-hidden"> other farming type</span>
                     </a>
               </dd>
           </div>
           {% endif %}

     </dl>

      <form action="/tier1-v3/actions" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
